In [20]:
import pandas as pd
import numpy as np

In [21]:
t_0910 = pd.read_csv('season-0910.csv',  header = [0])
t_1011 = pd.read_csv('season-1011.csv')
t_1112 = pd.read_csv('season-1112.csv')
t_1213 = pd.read_csv('season-1213.csv')
t_1314 = pd.read_csv('season-1314.csv')
t_1415 = pd.read_csv('season-1415.csv')
t_1516 = pd.read_csv('season-1516.csv')
t_1617 = pd.read_csv('season-1617.csv')
t_1718 = pd.read_csv('season-1718.csv')
t_1819 = pd.read_csv('season-1819.csv')

In [22]:
all_t = pd.concat([t_0910,t_1011,t_1112,t_1213,t_1314,t_1415,t_1516,t_1617])
all_t

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,15/08/09,Aston Villa,Wigan,0,2,A,0,1,A,M Clattenburg,...,5,7,15,14,4,6,2,2,0,0
1,15/08/09,Blackburn,Man City,0,2,A,0,1,A,M Dean,...,9,5,12,9,5,4,2,1,0,0
2,15/08/09,Bolton,Sunderland,0,1,A,0,1,A,A Marriner,...,3,13,16,10,4,7,2,1,0,0
3,15/08/09,Chelsea,Hull,2,1,H,1,1,D,A Wiley,...,12,3,13,15,12,4,1,2,0,0
4,15/08/09,Everton,Arsenal,1,6,A,0,3,A,M Halsey,...,5,9,11,13,4,9,0,0,0,0
5,15/08/09,Portsmouth,Fulham,0,1,A,0,1,A,M Atkinson,...,4,3,11,18,6,4,3,2,0,0
6,15/08/09,Stoke,Burnley,2,0,H,2,0,H,S Bennett,...,5,5,15,10,3,6,2,2,0,0
7,15/08/09,Wolves,West Ham,0,2,A,0,1,A,C Foy,...,11,13,9,5,8,6,0,0,0,0
8,16/08/09,Man United,Birmingham,1,0,H,1,0,H,L Mason,...,17,4,13,7,13,2,1,1,0,0
9,16/08/09,Tottenham,Liverpool,2,1,H,1,0,H,P Dowd,...,11,3,14,16,6,5,3,3,0,0
10,18/08/09,Sunderland,Chelsea,1,3,A,1,0,H,S Bennett,...,3,9,14,10,1,14,2,2,0,0
11,18/08/09,Wigan,Wolves,0,1,A,0,1,A,M Jones,...,5,3,8,21,4,4,0,3,0,0
12,19/08/09,Birmingham,Portsmouth,1,0,H,0,0,D,L Probert,...,5,4,11,20,4,5,0,5,0,0
13,19/08/09,Burnley,Man United,1,0,H,1,0,H,A Wiley,...,2,9,8,12,1,12,2,1,0,0
14,19/08/09,Hull,Tottenham,1,5,A,1,3,A,C Foy,...,7,12,23,13,6,5,3,2,0,0
15,19/08/09,Liverpool,Stoke,4,0,H,2,0,H,P Walton,...,13,3,10,9,11,5,0,1,0,0
16,22/08/09,Arsenal,Portsmouth,4,1,H,2,1,H,S Bennett,...,16,4,9,10,8,4,1,0,0,0
17,22/08/09,Birmingham,Stoke,0,0,D,0,0,D,C Foy,...,6,3,8,13,3,3,0,3,0,0
18,22/08/09,Hull,Bolton,1,0,H,0,0,D,M Jones,...,5,10,19,19,4,12,3,2,0,0
19,22/08/09,Man City,Wolves,1,0,H,1,0,H,L Mason,...,11,2,7,11,5,6,0,1,0,0
20,22/08/09,Sunderland,Blackburn,2,1,H,1,1,D,A Wiley,...,5,5,12,14,0,10,2,1,0,0
21,22/08/09,Wigan,Man United,0,5,A,0,0,D,H Webb,...,7,13,11,8,3,5,2,2,0,0
22,23/08/09,Burnley,Everton,1,0,H,1,0,H,P Dowd,...,4,11,11,13,3,7,1,0,0,0
23,23/08/09,Fulham,Chelsea,0,2,A,0,1,A,A Marriner,...,1,4,11,10,4,7,0,0,0,0
24,23/08/09,West Ham,Tottenham,1,2,A,0,0,D,M Clattenburg,...,8,10,13,11,4,8,2,1,0,0
25,24/08/09,Liverpool,Aston Villa,1,3,A,0,2,A,M Atkinson,...,12,4,15,11,10,4,3,2,0,0
26,29/08/09,Blackburn,West Ham,0,0,D,0,0,D,P Dowd,...,9,5,13,18,5,2,1,3,0,0
27,29/08/09,Bolton,Liverpool,2,3,A,1,1,D,A Wiley,...,5,14,14,7,5,11,3,1,1,0
28,29/08/09,Chelsea,Burnley,3,0,H,1,0,H,M Clattenburg,...,17,0,7,5,10,1,0,1,0,0
29,29/08/09,Man United,Arsenal,2,1,H,0,1,A,M Dean,...,4,3,21,15,6,5,3,6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,06/05/17,Swansea,Everton,1,0,H,1,0,H,M Atkinson,...,4,2,5,13,9,5,0,0,0,0
351,07/05/17,Arsenal,Man United,2,0,H,0,0,D,A Marriner,...,4,4,14,10,5,9,1,0,0,0
352,07/05/17,Liverpool,Southampton,0,0,D,0,0,D,R Madley,...,8,0,9,4,3,6,1,3,0,0
353,08/05/17,Chelsea,Middlesbrough,3,0,H,2,0,H,C Pawson,...,7,1,8,21,8,1,0,2,0,0
354,10/05/17,Southampton,Arsenal,0,2,A,0,0,D,J Moss,...,3,4,5,5,8,5,1,2,0,0
355,12/05/17,Everton,Watford,1,0,H,0,0,D,K Friend,...,6,2,7,11,9,8,0,3,0,0
356,12/05/17,West Brom,Chelsea,0,1,A,0,0,D,M Oliver,...,2,5,13,8,5,8,3,0,0,0
357,13/05/17,Bournemouth,Burnley,2,1,H,1,0,H,L Probert,...,6,3,6,11,7,1,0,1,0,0
358,13/05/17,Man City,Leicester,2,1,H,2,1,H,R Madley,...,5,4,12,16,9,3,3,3,0,0
359,13/05/17,Middlesbrough,Southampton,1,2,A,0,1,A,A Taylor,...,3,4,19,11,6,3,3,0,0,0
360,13/05/17,Stoke,Arsenal,1,4,A,0,1,A,M Dean,...,4,6,13,7,7,6,1,2,0,0
361,13/05/17,Sunderland,Swansea,0,2,A,0,2,A,A Marriner,...,4,3,13,6,8,4,4,0,0,0
362,14/05/17,Crystal Palace,Hull,4,0,H,2,0,H,M Atkinson,...,4,0,13,14,3,7,3,5,0,0
363,14/05/17,Tottenham,Man United,2,1,H,1,0,H,J Moss,...,7,2,14,15,8,3,1,2,0,0
364,14/05/17,West Ham,Liverpool,0,4,A,0,1,A,N Swarbrick,...,3,11,5,10,4,6,2,0,0,0
365,15/05/17,Chelsea,Watford,4,3,H,2,1,H,L Mason,...,9,3,7,12,8,3,2,4,0,1
366,16/05/17,Arsenal,Sunderland,2,0,H,0,0,D,R East,...,13,2,15,10,17,3,4,2,0,0
367,16/05/17,Man City,West Brom,3,1,H,2,0,H,C Pawson,...,10,2,8,11,7,1,1,2,0,0
368,17/05/17,Southampton,Man United,0,0,D,0,0,D,M Dean,...,6,1,7,10,7,3,2,1,0,0
369,18/05/17,Leicester,Tottenham,1,6,A,0,2,A,M Oliver,...,5,12,11,8,4,4,3,1,0,0
370,21/05/17,Arsenal,Everton,3,1,H,2,0,H,M Oliver,...,9,7,10,15,4,6,2,4,1,0
371,21/05/17,Burnley,West Ham,1,2,A,1,1,D,R Madley,...,1,4,11,14,2,5,2,2,0,0
372,21/05/17,Chelsea,Sunderland,5,1,H,1,1,D,N Swarbrick,...,8,3,8,15,11,1,1,1,0,0
373,21/05/17,Hull,Tottenham,1,7,A,0,3,A,A Marriner,...,4,14,14,5,2,3,0,0,0,0
374,21/05/17,Leicester,Bournemouth,1,1,D,0,1,A,l Mason,...,5,4,11,10,9,1,4,1,0,0
375,21/05/17,Liverpool,Middlesbrough,3,0,H,1,0,H,M Atkinson,...,10,3,13,8,3,3,0,1,0,0
376,21/05/17,Man United,Crystal Palace,2,0,H,2,0,H,A Taylor,...,2,1,16,10,3,6,2,0,0,0
377,21/05/17,Southampton,Stoke,0,1,A,0,0,D,L Probert,...,6,3,12,10,4,10,2,4,0,0
378,21/05/17,Swansea,West Brom,2,1,H,0,1,A,M Dean,...,2,5,8,10,7,4,1,1,0,0
379,21/05/17,Watford,Man City,0,5,A,0,4,A,J Moss,...,3,9,12,10,4,5,1,0,0,0

In [23]:
times = pd.Series(["Man City","Liverpool","Chelsea","Tottenham" ,"Man United","Arsenal","Everton","Leicester","West Ham","Crystal Palace","Bournemouth","Fulham","Wolves","Southampton","Newcastle","Watford","Brighton","Burnley","Cardiff","Norwich","QPR","Huddersfield","Wigan","Birmingham","Blackburn","Reading","Bolton","Portsmouth","Blackpool","Aston Villa","Hull","West Brom","Stoke","Swansea","Sunderland","Middlesbrough"])
times

0           Man City
1          Liverpool
2            Chelsea
3          Tottenham
4         Man United
5            Arsenal
6            Everton
7          Leicester
8           West Ham
9     Crystal Palace
10       Bournemouth
11            Fulham
12            Wolves
13       Southampton
14         Newcastle
15           Watford
16          Brighton
17           Burnley
18           Cardiff
19           Norwich
20               QPR
21      Huddersfield
22             Wigan
23        Birmingham
24         Blackburn
25           Reading
26            Bolton
27        Portsmouth
28         Blackpool
29       Aston Villa
30              Hull
31         West Brom
32             Stoke
33           Swansea
34        Sunderland
35     Middlesbrough
dtype: object

In [24]:
from sklearn import preprocessing

In [41]:
r_0910 = pd.read_csv('r_0910.csv',encoding = 'unicode_escape') #string tem um caracter nÃ£o ascii codificado nela.

In [42]:
#df2 = pd.read_csv('season-1011.csv', sep=',') 
le2 = preprocessing.LabelEncoder()
t_0910['HomeTeam'] = le2.fit_transform(t_0910.HomeTeam.values)
t_0910['AwayTeam'] = le2.fit_transform(t_0910.AwayTeam.values)


df2 = preprocessing.LabelEncoder()
r_0910['Clubes'] = df2.fit_transform(r_0910.Clubes.values)

In [43]:
t_0910.merge(r_0910, left_on='HomeTeam', right_on='Clubes', suffixes=(False, False))

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AY,HR,AR,#,Clubes,Despesas,Entradas,Receitas,SaiÂ­das,Saldo
0,15/08/09,1,18,0,2,A,0,1,A,M Clattenburg,...,2,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
1,30/08/09,1,8,2,0,H,1,0,H,S Bennett,...,2,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
2,19/09/09,1,13,2,0,H,2,0,H,S Attwell,...,0,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
3,05/10/09,1,11,1,1,D,1,0,H,M Dean,...,2,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
4,17/10/09,1,6,2,1,H,1,1,D,K Friend,...,1,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
5,07/11/09,1,4,5,1,H,2,1,H,M Clattenburg,...,4,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
6,28/11/09,1,16,1,1,D,1,0,H,P Dowd,...,1,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
7,05/12/09,1,9,3,0,H,2,0,H,S Attwell,...,3,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
8,19/12/09,1,14,1,0,H,0,0,D,L Probert,...,1,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
9,29/12/09,1,10,0,1,A,0,0,D,L Probert,...,1,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
10,17/01/10,1,17,0,0,D,0,0,D,M Jones,...,3,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
11,27/01/10,1,0,0,0,D,0,0,D,L Probert,...,2,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
12,10/02/10,1,12,1,1,D,1,1,D,P Walton,...,1,0,1,2,1,"46,9",26,"22,1",19,"-24,8"
13,21/02/10,1,5,5,2,H,1,1,D,S Attwell,...,3,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
14,20/03/10,1,19,2,2,D,1,2,A,M Clattenburg,...,2,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
15,24/03/10,1,15,1,1,D,1,1,D,M Dean,...,0,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
16,14/04/10,1,7,2,2,D,0,1,A,M Atkinson,...,2,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
17,25/04/10,1,2,1,0,H,0,0,D,M Atkinson,...,4,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
18,09/05/10,1,3,0,1,A,0,0,D,S Bennett,...,1,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
19,15/08/09,3,11,0,2,A,0,1,A,M Dean,...,1,0,0,16,3,"13,28",39,"36,65",35,"23,37"
20,29/08/09,3,17,0,0,D,0,0,D,P Dowd,...,3,0,0,16,3,"13,28",39,"36,65",35,"23,37"
21,12/09/09,3,19,3,1,H,1,0,H,S Bennett,...,2,0,0,16,3,"13,28",39,"36,65",35,"23,37"
22,26/09/09,3,1,2,1,H,1,1,D,M Clattenburg,...,3,1,0,16,3,"13,28",39,"36,65",35,"23,37"
23,18/10/09,3,5,3,2,H,3,1,H,C Foy,...,3,0,0,16,3,"13,28",39,"36,65",35,"23,37"
24,07/11/09,3,13,3,1,H,0,1,A,A Marriner,...,3,0,0,16,3,"13,28",39,"36,65",35,"23,37"
25,28/11/09,3,14,0,0,D,0,0,D,H Webb,...,2,0,0,16,3,"13,28",39,"36,65",35,"23,37"
26,05/12/09,3,10,0,0,D,0,0,D,M Atkinson,...,0,0,0,16,3,"13,28",39,"36,65",35,"23,37"
27,19/12/09,3,16,0,2,A,0,1,A,P Walton,...,1,0,0,16,3,"13,28",39,"36,65",35,"23,37"
28,28/12/09,3,15,2,2,D,0,0,D,M Dean,...,4,0,0,16,3,"13,28",39,"36,65",35,"23,37"
29,17/01/10,3,8,2,0,H,1,0,H,K Friend,...,3,0,0,16,3,"13,28",39,"36,65",35,"23,37"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,19/12/09,8,12,3,0,H,1,0,H,H Webb,...,1,0,0,20,8,"7,11",27,-,26,"-7,11"
351,26/12/09,8,16,0,0,D,0,0,D,S Bennett,...,0,0,0,20,8,"7,11",27,-,26,"-7,11"
352,30/01/10,8,1,0,2,A,0,2,A,L Mason,...,2,0,0,20,8,"7,11",27,-,26,"-7,11"
353,03/02/10,8,13,1,0,H,0,0,D,A Taylor,...,1,0,0,20,8,"7,11",27,-,26,"-7,11"
354,09/02/10,8,5,3,0,H,2,0,H,C Foy,...,0,0,0,20,8,"7,11",27,-,26,"-7,11"
355,21/02/10,8,2,2,1,H,0,1,A,P Dowd,...,1,0,0,20,8,"7,11",27,-,26,"-7,11"
356,21/03/10,8,11,1,2,A,0,2,A,L Probert,...,0,0,0,20,8,"7,11",27,-,26,"-7,11"
357,04/04/10,8,18,2,1,H,0,1,A,M Clattenburg,...,2,0,0,20,8,"7,11",27,-,26,"-7,11"
358,17/04/10,8,19,0,0,D,0,0,D,M Dean,...,0,0,0,20,8,"7,11",27,-,26,"-7,11"
359,02/05/10,8,17,3,2,H,1,0,H,A Marriner,...,0,0,0,20,8,"7,11",27,-,26,"-7,11"
360,05/05/10,8,14,0,1,A,0,0,D,P Walton,...,3,0,0,20,8,"7,11",27,-,26,"-7,11"
361,23/08/09,17,16,1,2,A,0,0,D,M Clattenburg,...,1,0,0,10,17,"21,65",24,"41,3",26,"19,65"
362,19/09/09,17,10,2,3,A,2,2,D,A Marriner,...,3,0,0,10,17,"21,65",24,"41,3",26,"19,65"
363,04/10/09,17,8,2,2,D,1,0,H,P Dowd,...,2,0,1,10,17,"21,65",24,"41,3",26,"19,65"
364,25/10/09,17,0,2,2,D,0,2,A,C Foy,...,2,1,0,10,17,"21,65",24,"41,3",26,"19,65"
365,04/11/09,17,1,2,1,H,1,0,H,S Bennett,...,4,0,1,10,17,"21,65",24,"41,3",26,"19,65"
366,08/11/09,17,7,1,2,A,0,1,A,A Wiley,...,5,0,0,10,17,"21,65",24,"41,3",26,"19,65"
367,28/11/09,17,5,5,3,H,3,0,H,C Foy,...,1,0,1,10,17,"21,65",24,"41,3",26,"19,65"
368,05/12/09,17,12,0,4,A,0,1,A,P Walton,...,1,0,0,10,17,"21,65",24,"41,3",26,"19,65"
369,20/12/09,17,6,1,1,D,1,0,H,M Dean,...,3,0,0,10,17,"21,65",24,"41,3",26,"19,65"
370,26/12/09,17,13,2,0,H,1,0,H,L Probert,...,3,0,0,10,17,"21,65",24,"41,3",26,"19,65"
371,30/01/10,17,3,0,0,D,0,0,D,P Walton,...,1,0,0,10,17,"21,65",24,"41,3",26,"19,65"
372,10/02/10,17,2,2,0,H,1,0,H,M Dean,...,2,0,0,10,17,"21,65",24,"41,3",26,"19,65"
373,20/02/10,17,9,3,0,H,1,0,H,M Atkinson,...,1,0,1,10,17,"21,65",24,"41,3",26,"19,65"
374,06/03/10,17,4,1,2,A,0,2,A,L Probert,...,5,0,1,10,17,"21,65",24,"41,3",26,"19,65"
375,23/03/10,17,19,1,3,A,0,1,A,P Dowd,...,2,0,0,10,17,"21,65",24,"41,3",26,"19,65"
376,27/03/10,17,14,0,1,A,0,0,D,A Marriner,...,2,0,0,10,17,"21,65",24,"41,3",26,"19,65"
377,10/04/10,17,15,1,0,H,0,0,D,M Jones,...,3,0,0,10,17,"21,65",24,"41,3",26,"19,65"
378,24/04/10,17,18,3,2,H,2,1,H,A Wiley,...,2,0,0,10,17,"21,65",24,"41,3",26,"19,65"
379,09/05/10,17,11,1,1,D,1,1,D,H Webb,...,0,0,0,10,17,"21,65",24,"41,3",26,"19,65"