In [55]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [56]:
t_0910 = pd.read_csv('season-0910.csv',  header = [0])
t_1011 = pd.read_csv('season-1011.csv')
t_1112 = pd.read_csv('season-1112.csv')
t_1213 = pd.read_csv('season-1213.csv')
t_1314 = pd.read_csv('season-1314.csv')
t_1415 = pd.read_csv('season-1415.csv')

t_1516 = pd.read_csv('season-1516.csv')
t_1617 = pd.read_csv('season-1617.csv')
t_1718 = pd.read_csv('season-1718.csv')
t_1819 = pd.read_csv('season-1819.csv')

In [57]:
all_t = pd.concat([t_0910,t_1011,t_1112,t_1213,t_1314,t_1415,t_1516,t_1617])

In [58]:
times = pd.Series(["Man City","Liverpool","Chelsea","Tottenham" ,"Man United","Arsenal","Everton","Leicester","West Ham","Crystal Palace","Bournemouth","Fulham","Wolves","Southampton","Newcastle","Watford","Brighton","Burnley","Cardiff","Norwich","QPR","Huddersfield","Wigan","Birmingham","Blackburn","Reading","Bolton","Portsmouth","Blackpool","Aston Villa","Hull","West Brom","Stoke","Swansea","Sunderland","Middlesbrough"])

In [59]:
r_0910 = pd.read_csv('r_0910.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1011 = pd.read_csv('r_1011.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1112 = pd.read_csv('r_1112.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1213 = pd.read_csv('r_1213.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1314 = pd.read_csv('r_1314.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1415 = pd.read_csv('r_1415.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1516 = pd.read_csv('r_1516.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1617 = pd.read_csv('r_1617.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1718 = pd.read_csv('r_1718.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1819 = pd.read_csv('r_1819.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.

In [60]:
#df2 = pd.read_csv('season-1011.csv', sep=',') 
le2 = preprocessing.LabelEncoder()

t_0910['HomeTeam'] = le2.fit_transform(t_0910.HomeTeam.values)
t_0910['AwayTeam'] = le2.fit_transform(t_0910.AwayTeam.values)
r_0910['Clubes'] = le2.fit_transform(r_0910.Clubes.values)

#le2 = preprocessing.LabelEncoder()
t_1011['HomeTeam'] = le2.fit_transform(t_1011.HomeTeam.values)
t_1011['AwayTeam'] = le2.fit_transform(t_1011.AwayTeam.values)
r_1011['Clubes'] = le2.fit_transform(r_1011.Clubes.values)


t_1112['HomeTeam'] = le2.fit_transform(t_1112.HomeTeam.values)
t_1112['AwayTeam'] = le2.fit_transform(t_1112.AwayTeam.values)
r_1112['Clubes'] = le2.fit_transform(r_1112.Clubes.values)


t_1213['HomeTeam'] = le2.fit_transform(t_1213.HomeTeam.values)
t_1213['AwayTeam'] = le2.fit_transform(t_1213.AwayTeam.values)
r_1213['Clubes'] = le2.fit_transform(r_1213.Clubes.values)


t_1314['HomeTeam'] = le2.fit_transform(t_1314.HomeTeam.values)
t_1314['AwayTeam'] = le2.fit_transform(t_1314.AwayTeam.values)
r_1314['Clubes'] = le2.fit_transform(r_1314.Clubes.values)


t_1415['HomeTeam'] = le2.fit_transform(t_1415.HomeTeam.values)
t_1415['AwayTeam'] = le2.fit_transform(t_1415.AwayTeam.values)
r_1415['Clubes'] = le2.fit_transform(r_1415.Clubes.values)


t_1516['HomeTeam'] = le2.fit_transform(t_1516.HomeTeam.values)
t_1516['AwayTeam'] = le2.fit_transform(t_1516.AwayTeam.values)
r_1516['Clubes'] = le2.fit_transform(r_1516.Clubes.values)


t_1617['HomeTeam'] = le2.fit_transform(t_1617.HomeTeam.values)
t_1617['AwayTeam'] = le2.fit_transform(t_1617.AwayTeam.values)
r_1617['Clubes'] = le2.fit_transform(r_1617.Clubes.values)


t_1718['HomeTeam'] = le2.fit_transform(t_1718.HomeTeam.values)
t_1718['AwayTeam'] = le2.fit_transform(t_1718.AwayTeam.values)
r_1718['Clubes'] = le2.fit_transform(r_1718.Clubes.values)


t_1819['HomeTeam'] = le2.fit_transform(t_1819.HomeTeam.values)
t_1819['AwayTeam'] = le2.fit_transform(t_1819.AwayTeam.values)
r_1819['Clubes'] = le2.fit_transform(r_1819.Clubes.values)

In [61]:
tr_0910 = t_0910.merge(r_0910, left_on='HomeTeam', right_on='Clubes')
tr_1011 = t_1011.merge(r_1011, left_on='HomeTeam', right_on='Clubes')
tr_1112 = t_1112.merge(r_1112, left_on='HomeTeam', right_on='Clubes')
tr_1213 = t_1213.merge(r_1213, left_on='HomeTeam', right_on='Clubes')
tr_1314 = t_1314.merge(r_1314, left_on='HomeTeam', right_on='Clubes')
tr_1415 = t_1415.merge(r_1415, left_on='HomeTeam', right_on='Clubes')
tr_1516 = t_1516.merge(r_1516, left_on='HomeTeam', right_on='Clubes')
tr_1617 = t_1617.merge(r_1617, left_on='HomeTeam', right_on='Clubes')
tr_1718 = t_1718.merge(r_1718, left_on='HomeTeam', right_on='Clubes')
tr_1819 = t_1819.merge(r_1819, left_on='HomeTeam', right_on='Clubes')
tr_0910.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', '#', 'Clubes', 'Despesas', 'Entradas',
       'Receitas', 'Sai­das', 'Saldo'],
      dtype='object')

In [62]:
#all = all.rename(columns={'Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})

tr_0910 = tr_0910.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})
tr_1011 = tr_1011.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})
tr_1112 = tr_1112.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})
tr_1213 = tr_1213.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})
tr_1314 = tr_1314.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Saidas':'HSaidas','Saldo':'HSaldo'})
tr_1415 = tr_1415.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Saidas':'HSaidas','Saldo':'HSaldo'})
tr_1516 = tr_1516.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})
tr_1617 = tr_1617.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Saidas':'HSaidas','Saldo':'HSaldo'})
tr_1718 = tr_1718.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})
tr_1819 = tr_1819.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Saidas':'HSaidas','Saldo':'HSaldo'})

tr_0910.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', '#1', 'Clubes1', 'HDespesas', 'HEntradas',
       'HReceitas', 'HSaidas', 'HSaldo'],
      dtype='object')

In [63]:
tr_1819.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', '#1', 'Clubes1', 'HDespesas', 'HEntradas',
       'HReceitas', 'HSaidas', 'HSaldo'],
      dtype='object')

In [64]:

#tr_0910.drop('#',axis= 1)
#tr_1011.drop('#',axis = 1)
#tr_1112.drop('#',axis = 1)
#tr_1213.drop('#',axis = 1)
#tr_1314.drop('#',axis = 1)
#tr_1415.drop('#',axis = 1)
#tr_1516.drop('#',axis = 1)
#tr_1617.drop('#',axis = 1)
#tr_1718.drop('#',axis = 1)
#tr_1819.drop('#',axis = 1)

#tr_0910.drop('Clubes',axis= 1)
#tr_1011.drop('Clubes',axis = 1)
#tr_1112.drop('Clubes',axis = 1)
#tr_1213.drop('Clubes',axis = 1)
#tr_1314.drop('Clubes',axis = 1)
#tr_1415.drop('Clubes',axis = 1)
#tr_1516.drop('Clubes',axis = 1)
#tr_1617.drop('Clubes',axis = 1)
#tr_1718.drop('Clubes',axis = 1)
#tr_1819.drop('Clubes',axis = 1)

tr_1011

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AY,HR,AR,#1,Clubes1,HDespesas,HEntradas,HReceitas,HSaidas,HSaldo
0,14/08/10,1,17,3,0,H,2,0,H,M Dean,...,2,0,0,4,1,"37,4",23,"28,4",22,-9
1,29/08/10,1,7,1,0,H,1,0,H,M Jones,...,0,0,0,4,1,"37,4",23,"28,4",22,-9
2,18/09/10,1,5,1,1,D,1,1,D,M Dean,...,2,0,0,4,1,"37,4",23,"28,4",22,-9
3,16/10/10,1,6,0,0,D,0,0,D,L Mason,...,3,0,0,4,1,"37,4",23,"28,4",22,-9
4,31/10/10,1,2,0,0,D,0,0,D,H Webb,...,3,0,0,4,1,"37,4",23,"28,4",22,-9
5,10/11/10,1,4,3,2,H,1,1,D,A Taylor,...,3,0,0,4,1,"37,4",23,"28,4",22,-9
6,13/11/10,1,11,2,2,D,0,0,D,M Dean,...,4,0,0,4,1,"37,4",23,"28,4",22,-9
7,27/11/10,1,0,2,4,A,0,2,A,M Clattenburg,...,1,0,0,4,1,"37,4",23,"28,4",22,-9
8,11/12/10,1,16,2,1,H,1,0,H,M Halsey,...,2,0,0,4,1,"37,4",23,"28,4",22,-9
9,26/12/10,1,15,1,2,A,0,1,A,M Atkinson,...,3,0,1,4,1,"37,4",23,"28,4",22,-9
10,05/01/11,1,14,0,1,A,0,0,D,P Walton,...,3,1,1,4,1,"37,4",23,"28,4",22,-9
11,22/01/11,1,10,1,0,H,1,0,H,H Webb,...,1,0,0,4,1,"37,4",23,"28,4",22,-9
12,05/02/11,1,8,2,2,D,1,0,H,L Mason,...,2,0,0,4,1,"37,4",23,"28,4",22,-9
13,26/02/11,1,3,4,1,H,0,0,D,M Atkinson,...,3,0,1,4,1,"37,4",23,"28,4",22,-9
14,19/03/11,1,19,0,1,A,0,1,A,P Dowd,...,3,0,0,4,1,"37,4",23,"28,4",22,-9
15,10/04/11,1,12,1,0,H,1,0,H,S Attwell,...,2,0,0,4,1,"37,4",23,"28,4",22,-9
16,23/04/11,1,13,1,1,D,1,1,D,C Foy,...,3,0,0,4,1,"37,4",23,"28,4",22,-9
17,07/05/11,1,18,1,1,D,1,1,D,M Jones,...,0,0,0,4,1,"37,4",23,"28,4",22,-9
18,22/05/11,1,9,1,0,H,1,0,H,L Probert,...,2,0,0,4,1,"37,4",23,"28,4",22,-9
19,14/08/10,3,7,1,0,H,1,0,H,P Dowd,...,1,0,0,19,3,"5,05",30,"0,275",30,"-4,78"
20,28/08/10,3,0,1,2,A,1,1,D,C Foy,...,0,0,0,19,3,"5,05",30,"0,275",30,"-4,78"
21,18/09/10,3,8,1,1,D,1,0,H,A Taylor,...,1,0,0,19,3,"5,05",30,"0,275",30,"-4,78"
22,18/10/10,3,14,0,0,D,0,0,D,L Probert,...,1,1,0,19,3,"5,05",30,"0,275",30,"-4,78"
23,30/10/10,3,6,1,2,A,1,1,D,P Walton,...,2,0,0,19,3,"5,05",30,"0,275",30,"-4,78"
24,06/11/10,3,18,2,1,H,0,0,D,K Friend,...,2,0,0,19,3,"5,05",30,"0,275",30,"-4,78"
25,21/11/10,3,1,2,0,H,1,0,H,M Oliver,...,1,0,0,19,3,"5,05",30,"0,275",30,"-4,78"
26,04/12/10,3,19,3,0,H,2,0,H,H Webb,...,2,0,0,19,3,"5,05",30,"0,275",30,"-4,78"
27,18/12/10,3,17,1,1,D,0,0,D,M Dean,...,3,0,0,19,3,"5,05",30,"0,275",30,"-4,78"
28,26/12/10,3,13,0,2,A,0,0,D,M Jones,...,4,0,0,19,3,"5,05",30,"0,275",30,"-4,78"
29,05/01/11,3,9,3,1,H,2,0,H,A Marriner,...,1,0,0,19,3,"5,05",30,"0,275",30,"-4,78"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,20/12/10,10,7,1,2,A,0,2,A,P Walton,...,2,1,1,1,10,"183,61",38,"37,15",28,"-146,46"
351,28/12/10,10,1,4,0,H,3,0,H,M Oliver,...,2,0,0,1,10,"183,61",38,"37,15",28,"-146,46"
352,01/01/11,10,4,1,0,H,1,0,H,M Clattenburg,...,0,0,0,1,10,"183,61",38,"37,15",28,"-146,46"
353,15/01/11,10,19,4,3,H,1,1,D,L Mason,...,0,0,0,1,10,"183,61",38,"37,15",28,"-146,46"
354,05/02/11,10,16,3,0,H,3,0,H,M Atkinson,...,2,0,0,1,10,"183,61",38,"37,15",28,"-146,46"
355,27/02/11,10,8,1,1,D,1,0,H,P Walton,...,2,0,0,1,10,"183,61",38,"37,15",28,"-146,46"
356,05/03/11,10,18,1,0,H,1,0,H,S Attwell,...,1,0,0,1,10,"183,61",38,"37,15",28,"-146,46"
357,03/04/11,10,14,5,0,H,2,0,H,H Webb,...,3,0,0,1,10,"183,61",38,"37,15",28,"-146,46"
358,01/05/11,10,17,2,1,H,2,1,H,H Webb,...,1,0,0,1,10,"183,61",38,"37,15",28,"-146,46"
359,10/05/11,10,15,1,0,H,1,0,H,M Dean,...,1,0,0,1,10,"183,61",38,"37,15",28,"-146,46"
360,17/05/11,10,13,3,0,H,1,0,H,L Probert,...,3,0,0,1,10,"183,61",38,"37,15",28,"-146,46"
361,28/08/10,4,8,2,2,D,0,1,A,M Oliver,...,0,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
362,25/09/10,4,3,1,2,A,0,1,A,M Dean,...,1,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
363,17/10/10,4,10,2,3,A,0,0,D,P Dowd,...,2,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
364,01/11/10,4,16,2,1,H,1,0,H,M Oliver,...,3,0,2,17,4,"5,73",28,"0,7",24,"-5,03"
365,06/11/10,4,7,2,2,D,1,1,D,A Marriner,...,1,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
366,20/11/10,4,19,2,1,H,2,0,H,M Clattenburg,...,2,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
367,04/01/11,4,2,1,2,A,0,1,A,J Moss,...,1,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
368,12/01/11,4,9,2,1,H,1,1,D,M Oliver,...,3,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
369,22/01/11,4,14,1,2,A,0,2,A,L Mason,...,0,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
370,25/01/11,4,11,2,3,A,2,0,H,P Walton,...,2,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
371,02/02/11,4,17,1,3,A,1,3,A,S Attwell,...,1,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
372,12/02/11,4,1,1,1,D,1,1,D,H Webb,...,1,0,1,17,4,"5,73",28,"0,7",24,"-5,03"
373,22/02/11,4,15,3,1,H,2,0,H,C Foy,...,0,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
374,07/03/11,4,6,1,3,A,0,1,A,M Dean,...,0,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
375,10/04/11,4,0,1,3,A,0,2,A,L Mason,...,2,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
376,16/04/11,4,18,1,3,A,0,2,A,P Walton,...,2,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
377,23/04/11,4,12,1,1,D,1,1,D,M Atkinson,...,1,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
378,30/04/11,4,13,0,0,D,0,0,D,M Clattenburg,...,0,0,0,17,4,"5,73",28,"0,7",24,"-5,03"
379,14/05/11,4,5,4,3,H,3,2,H,A Marriner,...,4,0,0,17,4,"5,73",28,"0,7",24,"-5,03"

In [65]:
tr_0910 = tr_0910.merge(r_0910, left_on='AwayTeam', right_on='Clubes')
tr_1011 = tr_1011.merge(r_1011, left_on='AwayTeam', right_on='Clubes')
tr_1112 = tr_1112.merge(r_1112, left_on='AwayTeam', right_on='Clubes')
tr_1213 = tr_1213.merge(r_1213, left_on='AwayTeam', right_on='Clubes')
tr_1314 = tr_1314.merge(r_1314, left_on='AwayTeam', right_on='Clubes')
tr_1415 = tr_1415.merge(r_1415, left_on='AwayTeam', right_on='Clubes')
tr_1516 = tr_1516.merge(r_1516, left_on='AwayTeam', right_on='Clubes')
tr_1617 = tr_1617.merge(r_1617, left_on='AwayTeam', right_on='Clubes')
tr_1718 = tr_1718.merge(r_1718, left_on='AwayTeam', right_on='Clubes')
tr_1819 = tr_1819.merge(r_1819, left_on='AwayTeam', right_on='Clubes')
tr_0910.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', '#1', 'Clubes1', 'HDespesas', 'HEntradas',
       'HReceitas', 'HSaidas', 'HSaldo', '#', 'Clubes', 'Despesas', 'Entradas',
       'Receitas', 'Sai­das', 'Saldo'],
      dtype='object')

In [67]:
tr_0910 = tr_0910.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Sai­das':'ASaidas','Saldo':'ASaldo'})
tr_1011 = tr_1011.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Sai­das':'ASaidas','Saldo':'ASaldo'})
tr_1112 = tr_1112.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Sai­das':'ASaidas','Saldo':'ASaldo'})
tr_1213 = tr_1213.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Sai­das':'ASaidas','Saldo':'ASaldo'})
tr_1314 = tr_1314.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Saidas':'ASaidas','Saldo':'ASaldo'})
tr_1415 = tr_1415.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Saidas':'ASaidas','Saldo':'ASaldo'})
tr_1516 = tr_1516.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Sai­das':'ASaidas','Saldo':'ASaldo'})
tr_1617 = tr_1617.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Saidas':'ASaidas','Saldo':'ASaldo'})
tr_1718 = tr_1718.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Sai­das':'ASaidas','Saldo':'ASaldo'})
tr_1819 = tr_1819.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Saidas':'ASaidas','Saldo':'ASaldo'})

In [77]:
tr_1819.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', '#1', 'Clubes1', 'HDespesas', 'HEntradas',
       'HReceitas', 'HSaidas', 'HSaldo', '#2', 'Clubes2', 'ADespesas',
       'AEntradas', 'AReceitas', 'ASaidas', 'ASaldo'],
      dtype='object')