In [9]:
import pandas as pd
import numpy as np

In [4]:
t_0910 = pd.read_csv('season-0910.csv',  header = [0])
t_1011 = pd.read_csv('season-1011.csv')
t_1112 = pd.read_csv('season-1112.csv')
t_1213 = pd.read_csv('season-1213.csv')
t_1314 = pd.read_csv('season-1314.csv')
t_1415 = pd.read_csv('season-1415.csv')
t_1516 = pd.read_csv('season-1516.csv')
t_1617 = pd.read_csv('season-1617.csv')
t_1718 = pd.read_csv('season-1718.csv')
t_1819 = pd.read_csv('season-1819.csv')

In [31]:
all_t = pd.concat([t_0910,t_1011,t_1112,t_1213,t_1314,t_1415,t_1516,t_1617])
all_t[300:390]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
300,21/03/10,Fulham,Man City,1,2,A,0,2,A,L Probert,...,4,9,8,9,4,2,0,0,0,0
301,21/03/10,Man United,Liverpool,2,1,H,1,1,D,H Webb,...,5,2,10,15,1,2,2,3,0,0
302,23/03/10,West Ham,Wolves,1,3,A,0,1,A,P Dowd,...,10,4,9,24,8,5,0,2,0,0
303,24/03/10,Aston Villa,Sunderland,1,1,D,1,1,D,M Dean,...,4,5,5,7,6,7,0,0,0,0
304,24/03/10,Blackburn,Birmingham,2,1,H,1,0,H,M Clattenburg,...,7,5,18,10,5,6,2,1,0,0
305,24/03/10,Man City,Everton,0,2,A,0,1,A,P Walton,...,5,7,11,10,7,4,3,2,0,0
306,24/03/10,Portsmouth,Chelsea,0,5,A,0,1,A,L Mason,...,6,11,11,11,1,6,3,2,0,0
307,27/03/10,Birmingham,Arsenal,1,1,D,0,0,D,H Webb,...,3,8,13,13,3,6,3,2,0,0
308,27/03/10,Bolton,Man United,0,4,A,0,1,A,M Atkinson,...,10,8,14,15,11,6,0,0,0,0
309,27/03/10,Chelsea,Aston Villa,7,1,H,2,1,H,P Walton,...,11,5,12,5,8,6,3,2,0,0
310,27/03/10,Hull,Fulham,2,0,H,1,0,H,C Foy,...,4,9,11,15,6,8,2,4,0,0
311,27/03/10,Tottenham,Portsmouth,2,0,H,2,0,H,K Friend,...,8,3,5,9,11,2,0,1,0,0
312,27/03/10,West Ham,Stoke,0,1,A,0,0,D,A Marriner,...,7,7,14,17,6,7,0,2,0,0
313,27/03/10,Wolves,Everton,0,0,D,0,0,D,M Jones,...,2,13,14,12,3,7,1,1,0,0
314,28/03/10,Burnley,Blackburn,0,1,A,0,1,A,M Dean,...,3,5,15,12,7,2,3,2,0,0
315,28/03/10,Liverpool,Sunderland,3,0,H,2,0,H,P Dowd,...,16,2,11,9,9,2,0,1,0,0
316,29/03/10,Man City,Wigan,3,0,H,0,0,D,S Attwell,...,8,3,12,13,3,4,3,2,0,1
317,03/04/10,Arsenal,Wolves,1,0,H,0,0,D,A Marriner,...,13,2,10,13,10,4,0,2,0,1
318,03/04/10,Bolton,Aston Villa,0,1,A,0,1,A,M Jones,...,10,9,13,14,6,8,2,0,0,0
319,03/04/10,Burnley,Man City,1,6,A,0,5,A,A Wiley,...,7,14,5,8,6,7,0,0,0,0
320,03/04/10,Man United,Chelsea,1,2,A,0,1,A,M Dean,...,3,5,14,11,3,3,3,1,0,0
321,03/04/10,Portsmouth,Blackburn,0,0,D,0,0,D,S Bennett,...,3,8,11,10,1,9,2,1,1,0
322,03/04/10,Stoke,Hull,2,0,H,1,0,H,L Probert,...,3,3,12,12,3,2,3,2,0,0
323,03/04/10,Sunderland,Tottenham,3,1,H,2,0,H,L Mason,...,10,9,16,15,6,6,2,0,0,0
324,04/04/10,Birmingham,Liverpool,1,1,D,0,0,D,M Atkinson,...,3,8,14,9,5,4,2,1,0,0
325,04/04/10,Everton,West Ham,2,2,D,1,0,H,H Webb,...,5,5,7,17,2,8,2,3,0,0
326,04/04/10,Fulham,Wigan,2,1,H,0,1,A,M Clattenburg,...,5,7,11,10,6,3,1,2,0,0
327,10/04/10,Hull,Burnley,1,4,A,1,1,D,M Atkinson,...,4,7,19,14,6,1,5,1,0,0
328,10/04/10,West Ham,Sunderland,1,0,H,0,0,D,M Jones,...,6,7,12,20,2,7,1,3,0,0
329,11/04/10,Blackburn,Man United,0,0,D,0,0,D,P Walton,...,7,6,14,12,1,7,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,01/05/10,Portsmouth,Wolves,3,1,H,2,1,H,M Jones,...,8,11,10,13,7,9,0,1,0,0
361,01/05/10,Stoke,Everton,0,0,D,0,0,D,H Webb,...,6,9,10,10,6,5,0,0,0,0
362,01/05/10,Tottenham,Bolton,1,0,H,1,0,H,C Foy,...,12,7,11,10,11,7,0,3,0,0
363,02/05/10,Fulham,West Ham,3,2,H,1,0,H,A Marriner,...,3,5,10,14,9,3,0,0,0,0
364,02/05/10,Liverpool,Chelsea,0,2,A,0,1,A,A Wiley,...,2,11,7,7,9,5,1,2,0,0
365,02/05/10,Sunderland,Man United,0,1,A,0,1,A,S Bennett,...,2,9,10,9,9,4,3,2,0,0
366,03/05/10,Blackburn,Arsenal,2,1,H,1,1,D,M Atkinson,...,7,4,19,15,5,8,2,2,0,0
367,03/05/10,Wigan,Hull,2,2,D,1,1,D,P Dowd,...,7,3,11,14,8,1,2,0,0,0
368,05/05/10,Fulham,Stoke,0,1,A,0,0,D,P Walton,...,6,2,7,6,8,3,1,3,0,0
369,05/05/10,Man City,Tottenham,0,1,A,0,0,D,S Bennett,...,5,6,12,14,9,7,0,3,0,0
370,09/05/10,Arsenal,Fulham,4,0,H,3,0,H,M Jones,...,11,2,11,10,5,2,2,2,0,0
371,09/05/10,Aston Villa,Blackburn,0,1,A,0,0,D,S Bennett,...,12,3,14,12,11,5,2,1,0,0
372,09/05/10,Bolton,Birmingham,2,1,H,1,0,H,K Friend,...,8,5,14,17,3,6,2,5,0,0
373,09/05/10,Burnley,Tottenham,4,2,H,1,2,A,M Dean,...,12,11,9,8,5,6,0,0,0,0
374,09/05/10,Chelsea,Wigan,8,0,H,2,0,H,M Atkinson,...,10,3,14,9,2,3,2,2,0,1
375,09/05/10,Everton,Portsmouth,1,0,H,0,0,D,P Walton,...,13,4,12,11,14,1,0,0,0,0
376,09/05/10,Hull,Liverpool,0,0,D,0,0,D,A Marriner,...,6,7,15,11,2,6,1,0,0,0
377,09/05/10,Man United,Stoke,4,0,H,2,0,H,M Clattenburg,...,13,4,10,4,10,2,2,0,0,0
378,09/05/10,West Ham,Man City,1,1,D,1,1,D,H Webb,...,8,6,12,7,4,3,2,0,0,0
379,09/05/10,Wolves,Sunderland,2,1,H,1,1,D,L Mason,...,7,5,11,19,4,1,1,2,0,2
0,14/08/10,Aston Villa,West Ham,3,0,H,2,0,H,M Dean,...,11,2,15,15,16,7,1,2,0,0
1,14/08/10,Blackburn,Everton,1,0,H,1,0,H,P Dowd,...,2,12,19,14,1,3,2,1,0,0
2,14/08/10,Bolton,Fulham,0,0,D,0,0,D,S Attwell,...,9,7,12,13,4,8,1,3,0,0
3,14/08/10,Chelsea,West Brom,6,0,H,2,0,H,M Clattenburg,...,13,4,10,10,3,1,1,0,0,0
4,14/08/10,Sunderland,Birmingham,2,2,D,1,0,H,A Taylor,...,2,7,13,10,3,6,3,3,1,0
5,14/08/10,Tottenham,Man City,0,0,D,0,0,D,A Marriner,...,18,7,13,16,10,3,0,2,0,0
6,14/08/10,Wigan,Blackpool,0,4,A,0,3,A,M Halsey,...,6,7,8,11,6,4,1,1,0,0
7,14/08/10,Wolves,Stoke,2,1,H,2,0,H,L Probert,...,7,6,17,13,5,5,0,2,0,0
8,15/08/10,Liverpool,Arsenal,1,1,D,0,0,D,M Atkinson,...,4,7,13,15,9,11,1,3,1,1
9,16/08/10,Man United,Newcastle,3,0,H,2,0,H,C Foy,...,10,3,9,5,5,3,2,2,0,0

In [17]:
times = pd.Series(["Man City","Liverpool","Chelsea","Tottenham" ,"Man United","Arsenal","Everton","Leicester","West Ham","Crystal Palace","Bournemouth","Fulham","Wolves","Southampton","Newcastle","Watford","Brighton","Burnley","Cardiff","Norwich","QPR","Huddersfield","Wigan","Birmingham","Blackburn","Reading","Bolton","Portsmouth","Blackpool","Aston Villa","Hull","West Brom","Stoke","Swansea","Sunderland","Middlesbrough"])
times

0           Man City
1          Liverpool
2            Chelsea
3          Tottenham
4         Man United
5            Arsenal
6            Everton
7          Leicester
8           West Ham
9     Crystal Palace
10       Bournemouth
11            Fulham
12            Wolves
13       Southampton
14         Newcastle
15           Watford
16          Brighton
17           Burnley
18           Cardiff
19           Norwich
20               QPR
21      Huddersfield
22             Wigan
23        Birmingham
24         Blackburn
25           Reading
26            Bolton
27        Portsmouth
28         Blackpool
29       Aston Villa
30              Hull
31         West Brom
32             Stoke
33           Swansea
34        Sunderland
35     Middlesbrough
dtype: object