In [1]:
import pandas as pd
import numpy as np

In [51]:
t_0910 = pd.read_csv('season-0910.csv',  header = [0])
t_1011 = pd.read_csv('season-1011.csv')
t_1112 = pd.read_csv('season-1112.csv')
t_1213 = pd.read_csv('season-1213.csv')
t_1314 = pd.read_csv('season-1314.csv')
t_1415 = pd.read_csv('season-1415.csv')
t_1516 = pd.read_csv('season-1516.csv')
t_1617 = pd.read_csv('season-1617.csv')
t_1718 = pd.read_csv('season-1718.csv')
t_1819 = pd.read_csv('season-1819.csv')
t_1011

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,14/08/10,Aston Villa,West Ham,3,0,H,2,0,H,M Dean,...,11,2,15,15,16,7,1,2,0,0
1,14/08/10,Blackburn,Everton,1,0,H,1,0,H,P Dowd,...,2,12,19,14,1,3,2,1,0,0
2,14/08/10,Bolton,Fulham,0,0,D,0,0,D,S Attwell,...,9,7,12,13,4,8,1,3,0,0
3,14/08/10,Chelsea,West Brom,6,0,H,2,0,H,M Clattenburg,...,13,4,10,10,3,1,1,0,0,0
4,14/08/10,Sunderland,Birmingham,2,2,D,1,0,H,A Taylor,...,2,7,13,10,3,6,3,3,1,0
5,14/08/10,Tottenham,Man City,0,0,D,0,0,D,A Marriner,...,18,7,13,16,10,3,0,2,0,0
6,14/08/10,Wigan,Blackpool,0,4,A,0,3,A,M Halsey,...,6,7,8,11,6,4,1,1,0,0
7,14/08/10,Wolves,Stoke,2,1,H,2,0,H,L Probert,...,7,6,17,13,5,5,0,2,0,0
8,15/08/10,Liverpool,Arsenal,1,1,D,0,0,D,M Atkinson,...,4,7,13,15,9,11,1,3,1,1
9,16/08/10,Man United,Newcastle,3,0,H,2,0,H,C Foy,...,10,3,9,5,5,3,2,2,0,0
10,21/08/10,Arsenal,Blackpool,6,0,H,3,0,H,M Jones,...,16,1,9,3,8,2,0,0,0,1
11,21/08/10,Birmingham,Blackburn,2,1,H,0,0,D,M Oliver,...,7,2,13,14,4,12,2,3,0,0
12,21/08/10,Everton,Wolves,1,1,D,1,0,H,L Mason,...,6,4,18,15,3,3,1,2,0,0
13,21/08/10,Stoke,Tottenham,1,2,A,1,2,A,C Foy,...,10,6,15,4,6,2,3,1,0,0
14,21/08/10,West Brom,Sunderland,1,0,H,0,0,D,K Friend,...,5,4,16,12,4,6,2,2,0,0
15,21/08/10,West Ham,Bolton,1,3,A,0,0,D,A Marriner,...,10,8,11,18,8,5,2,4,0,0
16,21/08/10,Wigan,Chelsea,0,6,A,0,1,A,M Dean,...,12,8,12,7,0,0,1,2,0,0
17,22/08/10,Fulham,Man United,2,2,D,0,1,A,P Walton,...,8,7,7,6,5,11,2,2,0,0
18,22/08/10,Newcastle,Aston Villa,6,0,H,3,0,H,M Atkinson,...,14,1,15,12,10,2,3,1,0,0
19,23/08/10,Man City,Liverpool,3,0,H,1,0,H,P Dowd,...,3,7,13,12,5,4,1,1,0,0
20,28/08/10,Blackburn,Arsenal,1,2,A,1,1,D,C Foy,...,7,9,9,7,4,8,1,0,0,0
21,28/08/10,Blackpool,Fulham,2,2,D,0,1,A,M Oliver,...,5,7,13,16,4,5,1,0,0,0
22,28/08/10,Chelsea,Stoke,2,0,H,1,0,H,M Atkinson,...,6,3,5,10,6,1,0,2,0,0
23,28/08/10,Man United,West Ham,3,0,H,1,0,H,M Clattenburg,...,11,2,6,11,9,3,1,2,0,0
24,28/08/10,Tottenham,Wigan,0,1,A,0,0,D,P Dowd,...,7,5,10,11,16,7,3,2,0,0
25,28/08/10,Wolves,Newcastle,1,1,D,1,0,H,S Attwell,...,2,6,20,17,5,3,7,4,0,0
26,29/08/10,Aston Villa,Everton,1,0,H,1,0,H,M Jones,...,6,9,19,10,4,16,4,0,0,0
27,29/08/10,Bolton,Birmingham,2,2,D,0,1,A,K Friend,...,8,5,19,17,6,1,2,3,1,0
28,29/08/10,Liverpool,West Brom,1,0,H,0,0,D,L Probert,...,7,5,9,8,7,6,0,0,0,1
29,29/08/10,Sunderland,Man City,1,0,H,0,0,D,M Dean,...,4,7,5,9,3,7,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,07/05/11,Bolton,Sunderland,1,2,A,0,1,A,K Friend,...,9,6,14,10,5,5,1,0,0,0
351,07/05/11,Everton,Man City,2,1,H,0,1,A,P Dowd,...,6,7,13,15,11,6,4,2,0,0
352,07/05/11,Newcastle,Birmingham,2,1,H,2,1,H,C Foy,...,14,2,10,12,8,2,1,4,0,1
353,07/05/11,Tottenham,Blackpool,1,1,D,0,0,D,L Probert,...,11,7,5,13,7,6,3,2,0,0
354,07/05/11,West Ham,Blackburn,1,1,D,0,1,A,P Walton,...,15,4,7,14,7,3,3,0,0,0
355,08/05/11,Man United,Chelsea,2,1,H,2,0,H,H Webb,...,8,11,12,14,7,2,2,4,0,0
356,08/05/11,Stoke,Arsenal,3,1,H,2,0,H,M Halsey,...,7,5,7,10,2,5,1,2,0,0
357,08/05/11,Wolves,West Brom,3,1,H,2,0,H,M Dean,...,10,6,9,7,8,4,3,1,0,0
358,09/05/11,Fulham,Liverpool,2,5,A,0,3,A,L Mason,...,7,11,18,11,6,5,5,2,0,0
359,10/05/11,Man City,Tottenham,1,0,H,1,0,H,M Dean,...,4,7,7,8,2,8,1,1,0,0
360,14/05/11,Blackburn,Man United,1,1,D,1,0,H,P Dowd,...,2,4,11,11,2,6,3,0,0,0
361,14/05/11,Blackpool,Bolton,4,3,H,3,2,H,A Marriner,...,8,9,16,12,5,6,2,4,0,0
362,14/05/11,Sunderland,Wolves,1,3,A,1,1,D,M Jones,...,9,6,8,19,5,5,0,0,0,0
363,14/05/11,West Brom,Everton,1,0,H,1,0,H,A Taylor,...,9,10,15,9,2,12,2,2,0,1
364,15/05/11,Arsenal,Aston Villa,1,2,A,0,2,A,M Oliver,...,15,5,9,10,13,2,1,4,0,0
365,15/05/11,Birmingham,Fulham,0,2,A,0,1,A,P Walton,...,2,9,7,15,5,5,0,5,0,0
366,15/05/11,Chelsea,Newcastle,2,2,D,1,1,D,L Mason,...,7,9,17,13,7,4,4,2,0,0
367,15/05/11,Liverpool,Tottenham,0,2,A,0,1,A,H Webb,...,2,4,13,7,11,5,2,1,0,0
368,15/05/11,Wigan,West Ham,3,2,H,0,2,A,M Dean,...,10,10,7,10,10,6,1,1,0,0
369,17/05/11,Man City,Stoke,3,0,H,1,0,H,L Probert,...,9,2,6,9,4,3,0,3,0,0
370,22/05/11,Aston Villa,Liverpool,1,0,H,1,0,H,L Probert,...,8,4,12,12,4,5,2,2,0,0
371,22/05/11,Bolton,Man City,0,2,A,0,1,A,C Foy,...,8,10,11,10,6,5,1,1,1,0
372,22/05/11,Everton,Chelsea,1,0,H,0,0,D,P Walton,...,3,9,12,14,6,5,3,2,1,0
373,22/05/11,Fulham,Arsenal,2,2,D,1,1,D,M Atkinson,...,6,6,12,5,5,3,2,1,1,0
374,22/05/11,Man United,Blackpool,4,2,H,1,1,D,M Dean,...,11,7,8,5,8,8,2,1,0,0
375,22/05/11,Newcastle,West Brom,3,3,D,2,0,H,M Halsey,...,10,7,5,8,7,6,0,0,0,0
376,22/05/11,Stoke,Wigan,0,1,A,0,0,D,A Marriner,...,5,9,10,9,5,3,1,4,0,0
377,22/05/11,Tottenham,Birmingham,2,1,H,0,0,D,M Clattenburg,...,16,3,5,15,7,5,0,3,0,0
378,22/05/11,West Ham,Sunderland,0,3,A,0,1,A,A Taylor,...,12,12,7,8,4,6,0,2,0,0
379,22/05/11,Wolves,Blackburn,2,3,A,0,3,A,H Webb,...,5,10,12,9,8,3,3,1,0,0

In [7]:
#all_t = pd.concat([t_0910,t_1011,t_1112,t_1213,t_1314,t_1415,t_1516,t_1617])

In [50]:
times = pd.Series(["Man City","Liverpool","Chelsea","Tottenham" ,"Man United","Arsenal","Everton","Leicester","West Ham","Crystal Palace","Bournemouth","Fulham","Wolves","Southampton","Newcastle","Watford","Brighton","Burnley","Huddersfield","Cardiff","Norwich","QPR","Huddersfield","Wigan","Birmingham","Blackburn","Reading","Bolton","Portsmouth","Blackpool","Aston Villa","Hull","West Brom","Stoke","Swansea","Sunderland","Portsmouth"])
times

0           Man City
1          Liverpool
2            Chelsea
3          Tottenham
4         Man United
5            Arsenal
6            Everton
7          Leicester
8           West Ham
9     Crystal Palace
10       Bournemouth
11            Fulham
12            Wolves
13       Southampton
14         Newcastle
15           Watford
16          Brighton
17           Burnley
18      Huddersfield
19           Cardiff
20           Norwich
21               QPR
22      Huddersfield
23             Wigan
24        Birmingham
25         Blackburn
26           Reading
27            Bolton
28        Portsmouth
29         Blackpool
30       Aston Villa
31              Hull
32         West Brom
33             Stoke
34           Swansea
35        Sunderland
36        Portsmouth
dtype: object