In [72]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [73]:
t_0910 = pd.read_csv('season-0910.csv',  header = [0])
t_1011 = pd.read_csv('season-1011.csv')
t_1112 = pd.read_csv('season-1112.csv')
t_1213 = pd.read_csv('season-1213.csv')
t_1314 = pd.read_csv('season-1314.csv')
t_1415 = pd.read_csv('season-1415.csv')

t_1516 = pd.read_csv('season-1516.csv')
t_1617 = pd.read_csv('season-1617.csv')
t_1718 = pd.read_csv('season-1718.csv')
t_1819 = pd.read_csv('season-1819.csv')

In [74]:
times = pd.Series(["Man City","Liverpool","Chelsea","Tottenham" ,"Man United","Arsenal","Everton","Leicester","West Ham","Crystal Palace","Bournemouth","Fulham","Wolves","Southampton","Newcastle","Watford","Brighton","Burnley","Cardiff","Norwich","QPR","Huddersfield","Wigan","Birmingham","Blackburn","Reading","Bolton","Portsmouth","Blackpool","Aston Villa","Hull","West Brom","Stoke","Swansea","Sunderland","Middlesbrough"])

In [75]:
r_0910 = pd.read_csv('r_0910.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1011 = pd.read_csv('r_1011.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1112 = pd.read_csv('r_1112.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1213 = pd.read_csv('r_1213.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1314 = pd.read_csv('r_1314.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1415 = pd.read_csv('r_1415.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1516 = pd.read_csv('r_1516.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1617 = pd.read_csv('r_1617.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1718 = pd.read_csv('r_1718.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1819 = pd.read_csv('r_1819.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.

In [76]:
#df2 = pd.read_csv('season-1011.csv', sep=',') 
le2 = preprocessing.LabelEncoder()

t_0910['HomeTeam'] = le2.fit_transform(t_0910.HomeTeam.values)
t_0910['AwayTeam'] = le2.fit_transform(t_0910.AwayTeam.values)
r_0910['Clubes'] = le2.fit_transform(r_0910.Clubes.values)

#le2 = preprocessing.LabelEncoder()
t_1011['HomeTeam'] = le2.fit_transform(t_1011.HomeTeam.values)
t_1011['AwayTeam'] = le2.fit_transform(t_1011.AwayTeam.values)
r_1011['Clubes'] = le2.fit_transform(r_1011.Clubes.values)


t_1112['HomeTeam'] = le2.fit_transform(t_1112.HomeTeam.values)
t_1112['AwayTeam'] = le2.fit_transform(t_1112.AwayTeam.values)
r_1112['Clubes'] = le2.fit_transform(r_1112.Clubes.values)


t_1213['HomeTeam'] = le2.fit_transform(t_1213.HomeTeam.values)
t_1213['AwayTeam'] = le2.fit_transform(t_1213.AwayTeam.values)
r_1213['Clubes'] = le2.fit_transform(r_1213.Clubes.values)


t_1314['HomeTeam'] = le2.fit_transform(t_1314.HomeTeam.values)
t_1314['AwayTeam'] = le2.fit_transform(t_1314.AwayTeam.values)
r_1314['Clubes'] = le2.fit_transform(r_1314.Clubes.values)


t_1415['HomeTeam'] = le2.fit_transform(t_1415.HomeTeam.values)
t_1415['AwayTeam'] = le2.fit_transform(t_1415.AwayTeam.values)
r_1415['Clubes'] = le2.fit_transform(r_1415.Clubes.values)


t_1516['HomeTeam'] = le2.fit_transform(t_1516.HomeTeam.values)
t_1516['AwayTeam'] = le2.fit_transform(t_1516.AwayTeam.values)
r_1516['Clubes'] = le2.fit_transform(r_1516.Clubes.values)


t_1617['HomeTeam'] = le2.fit_transform(t_1617.HomeTeam.values)
t_1617['AwayTeam'] = le2.fit_transform(t_1617.AwayTeam.values)
r_1617['Clubes'] = le2.fit_transform(r_1617.Clubes.values)


t_1718['HomeTeam'] = le2.fit_transform(t_1718.HomeTeam.values)
t_1718['AwayTeam'] = le2.fit_transform(t_1718.AwayTeam.values)
r_1718['Clubes'] = le2.fit_transform(r_1718.Clubes.values)


t_1819['HomeTeam'] = le2.fit_transform(t_1819.HomeTeam.values)
t_1819['AwayTeam'] = le2.fit_transform(t_1819.AwayTeam.values)
r_1819['Clubes'] = le2.fit_transform(r_1819.Clubes.values)

In [77]:
tr_0910 = t_0910.merge(r_0910, left_on='HomeTeam', right_on='Clubes')
tr_1011 = t_1011.merge(r_1011, left_on='HomeTeam', right_on='Clubes')
tr_1112 = t_1112.merge(r_1112, left_on='HomeTeam', right_on='Clubes')
tr_1213 = t_1213.merge(r_1213, left_on='HomeTeam', right_on='Clubes')
tr_1314 = t_1314.merge(r_1314, left_on='HomeTeam', right_on='Clubes')
tr_1415 = t_1415.merge(r_1415, left_on='HomeTeam', right_on='Clubes')
tr_1516 = t_1516.merge(r_1516, left_on='HomeTeam', right_on='Clubes')
tr_1617 = t_1617.merge(r_1617, left_on='HomeTeam', right_on='Clubes')
tr_1718 = t_1718.merge(r_1718, left_on='HomeTeam', right_on='Clubes')
tr_1819 = t_1819.merge(r_1819, left_on='HomeTeam', right_on='Clubes')
tr_0910.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', '#', 'Clubes', 'Despesas', 'Entradas',
       'Receitas', 'Sai­das', 'Saldo'],
      dtype='object')

In [78]:
#all = all.rename(columns={'Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})

tr_0910 = tr_0910.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})
tr_1011 = tr_1011.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})
tr_1112 = tr_1112.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})
tr_1213 = tr_1213.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})
tr_1314 = tr_1314.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Saidas':'HSaidas','Saldo':'HSaldo'})
tr_1415 = tr_1415.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Saidas':'HSaidas','Saldo':'HSaldo'})
tr_1516 = tr_1516.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})
tr_1617 = tr_1617.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Saidas':'HSaidas','Saldo':'HSaldo'})
tr_1718 = tr_1718.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Sai­das':'HSaidas','Saldo':'HSaldo'})
tr_1819 = tr_1819.rename(columns={'#':'#1','Clubes':'Clubes1','Despesas': 'HDespesas', 'Entradas': 'HEntradas','Receitas':'HReceitas','Saidas':'HSaidas','Saldo':'HSaldo'})

tr_0910.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', '#1', 'Clubes1', 'HDespesas', 'HEntradas',
       'HReceitas', 'HSaidas', 'HSaldo'],
      dtype='object')

In [79]:
tr_1819.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', '#1', 'Clubes1', 'HDespesas', 'HEntradas',
       'HReceitas', 'HSaidas', 'HSaldo'],
      dtype='object')

In [80]:

#tr_0910.drop('#',axis= 1)
#tr_1011.drop('#',axis = 1)
#tr_1112.drop('#',axis = 1)
#tr_1213.drop('#',axis = 1)
#tr_1314.drop('#',axis = 1)
#tr_1415.drop('#',axis = 1)
#tr_1516.drop('#',axis = 1)
#tr_1617.drop('#',axis = 1)
#tr_1718.drop('#',axis = 1)
#tr_1819.drop('#',axis = 1)

#tr_0910.drop('Clubes',axis= 1)
#tr_1011.drop('Clubes',axis = 1)
#tr_1112.drop('Clubes',axis = 1)
#tr_1213.drop('Clubes',axis = 1)
#tr_1314.drop('Clubes',axis = 1)
#tr_1415.drop('Clubes',axis = 1)
#tr_1516.drop('Clubes',axis = 1)
#tr_1617.drop('Clubes',axis = 1)
#tr_1718.drop('Clubes',axis = 1)
#tr_1819.drop('Clubes',axis = 1)

In [81]:
tr_0910 = tr_0910.merge(r_0910, left_on='AwayTeam', right_on='Clubes')
tr_1011 = tr_1011.merge(r_1011, left_on='AwayTeam', right_on='Clubes')
tr_1112 = tr_1112.merge(r_1112, left_on='AwayTeam', right_on='Clubes')
tr_1213 = tr_1213.merge(r_1213, left_on='AwayTeam', right_on='Clubes')
tr_1314 = tr_1314.merge(r_1314, left_on='AwayTeam', right_on='Clubes')
tr_1415 = tr_1415.merge(r_1415, left_on='AwayTeam', right_on='Clubes')
tr_1516 = tr_1516.merge(r_1516, left_on='AwayTeam', right_on='Clubes')
tr_1617 = tr_1617.merge(r_1617, left_on='AwayTeam', right_on='Clubes')
tr_1718 = tr_1718.merge(r_1718, left_on='AwayTeam', right_on='Clubes')
tr_1819 = tr_1819.merge(r_1819, left_on='AwayTeam', right_on='Clubes')
tr_0910.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', '#1', 'Clubes1', 'HDespesas', 'HEntradas',
       'HReceitas', 'HSaidas', 'HSaldo', '#', 'Clubes', 'Despesas', 'Entradas',
       'Receitas', 'Sai­das', 'Saldo'],
      dtype='object')

In [82]:
tr_0910 = tr_0910.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Sai­das':'ASaidas','Saldo':'ASaldo'})
tr_1011 = tr_1011.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Sai­das':'ASaidas','Saldo':'ASaldo'})
tr_1112 = tr_1112.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Sai­das':'ASaidas','Saldo':'ASaldo'})
tr_1213 = tr_1213.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Sai­das':'ASaidas','Saldo':'ASaldo'})
tr_1314 = tr_1314.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Saidas':'ASaidas','Saldo':'ASaldo'})
tr_1415 = tr_1415.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Saidas':'ASaidas','Saldo':'ASaldo'})
tr_1516 = tr_1516.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Sai­das':'ASaidas','Saldo':'ASaldo'})
tr_1617 = tr_1617.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Saidas':'ASaidas','Saldo':'ASaldo'})
tr_1718 = tr_1718.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Sai­das':'ASaidas','Saldo':'ASaldo'})
tr_1819 = tr_1819.rename(columns={'#':'#2','Clubes':'Clubes2','Despesas': 'ADespesas', 'Entradas': 'AEntradas','Receitas':'AReceitas','Saidas':'ASaidas','Saldo':'ASaldo'})

In [83]:
all_tr = pd.concat([tr_0910,tr_1011,tr_1112,tr_1213,tr_1314,tr_1415,tr_1516,tr_1617])

In [84]:
all_tr.reindex()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HReceitas,HSaidas,HSaldo,#2,Clubes2,ADespesas,AEntradas,AReceitas,ASaidas,ASaldo
0,15/08/09,1,18,0,2,A,0,1,A,M Clattenburg,...,22.1,19,-24.80,13,18,18.44,21,26.08,20,7.65
1,27/01/10,3,18,2,1,H,1,0,H,L Mason,...,36.65,35,23.37,13,18,18.44,21,26.08,20,7.65
2,13/03/10,4,18,4,0,H,1,0,H,M Dean,...,2,17,-10.00,13,18,18.44,21,26.08,20,7.65
3,09/05/10,6,18,8,0,H,2,0,H,M Atkinson,...,3.8,18,-26.20,13,18,18.44,21,26.08,20,7.65
4,30/08/09,7,18,2,1,H,0,0,D,L Probert,...,28.34,17,5.04,13,18,18.44,21,26.08,20,7.65
5,31/10/09,13,18,4,0,H,2,0,H,A Wiley,...,52.05,40,41.49,13,18,18.44,21,26.08,20,7.65
6,12/12/09,14,18,2,2,D,1,1,D,M Dean,...,6.5,25,-19.55,13,18,18.44,21,26.08,20,7.65
7,16/01/10,19,18,0,2,A,0,0,D,H Webb,...,870,29,-18.58,13,18,18.44,21,26.08,20,7.65
8,30/12/09,12,18,5,0,H,3,0,H,L Mason,...,104.47,21,77.07,13,18,18.44,21,26.08,20,7.65
9,22/11/09,16,18,9,1,H,1,0,H,P Walton,...,31.7,37,-8.60,13,18,18.44,21,26.08,20,7.65
10,06/02/10,15,18,1,1,D,0,1,A,S Attwell,...,21.28,30,-24.83,13,18,18.44,21,26.08,20,7.65
11,27/02/10,2,18,1,0,H,1,0,H,A Taylor,...,0.4,29,-19.65,13,18,18.44,21,26.08,20,7.65
12,24/10/09,5,18,1,3,A,1,1,D,L Mason,...,0.09,20,-13.45,13,18,18.44,21,26.08,20,7.65
13,03/10/09,9,18,2,1,H,0,0,D,M Clattenburg,...,16.2,27,1.35,13,18,18.44,21,26.08,20,7.65
14,16/12/09,10,18,2,1,H,1,0,H,P Dowd,...,48.55,26,5.05,13,18,18.44,21,26.08,20,7.65
15,19/09/09,0,18,4,0,H,1,0,H,M Jones,...,47.7,16,35.70,13,18,18.44,21,26.08,20,7.65
16,29/03/10,11,18,3,0,H,0,0,D,S Attwell,...,30.95,30,-116.35,13,18,18.44,21,26.08,20,7.65
17,04/04/10,8,18,2,1,H,0,1,A,M Clattenburg,...,0,26,-7.11,13,18,18.44,21,26.08,20,7.65
18,24/04/10,17,18,3,2,H,2,1,H,A Wiley,...,41.3,26,19.65,13,18,18.44,21,26.08,20,7.65
19,30/08/09,1,8,2,0,H,1,0,H,S Bennett,...,22.1,19,-24.80,20,8,7.11,27,0,26,-7.11
20,17/01/10,3,8,2,0,H,1,0,H,K Friend,...,36.65,35,23.37,20,8,7.11,27,0,26,-7.11
21,06/02/10,4,8,0,0,D,0,0,D,M Clattenburg,...,2,17,-10.00,20,8,7.11,27,0,26,-7.11
22,28/12/09,6,8,2,1,H,0,1,A,A Marriner,...,3.8,18,-26.20,20,8,7.11,27,0,26,-7.11
23,25/04/10,7,8,2,1,H,0,1,A,L Mason,...,28.34,17,5.04,20,8,7.11,27,0,26,-7.11
24,15/08/09,13,8,0,1,A,0,1,A,M Atkinson,...,52.05,40,41.49,20,8,7.11,27,0,26,-7.11
25,05/01/10,14,8,3,2,H,3,0,H,M Clattenburg,...,6.5,25,-19.55,20,8,7.11,27,0,26,-7.11
26,20/09/09,19,8,2,1,H,1,0,H,K Friend,...,870,29,-18.58,20,8,7.11,27,0,26,-7.11
27,14/03/10,12,8,3,0,H,0,0,D,M Jones,...,104.47,21,77.07,20,8,7.11,27,0,26,-7.11
28,26/01/10,16,8,2,0,H,1,0,H,M Dean,...,31.7,37,-8.60,20,8,7.11,27,0,26,-7.11
29,28/02/10,15,8,0,0,D,0,0,D,M Atkinson,...,21.28,30,-24.83,20,8,7.11,27,0,26,-7.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,11/03/17,1,19,3,2,H,1,1,D,R Madley,...,25.49,26,-15.20,9,19,83.50,20,41,18,-42.50
351,15/08/16,3,19,2,1,H,0,0,D,A Taylor,...,108.4,30,-24.40,9,19,83.50,20,41,18,-42.50
352,27/11/16,10,19,1,1,D,1,1,D,J Moss,...,47.15,14,-137.85,9,19,83.50,20,41,18,-42.50
353,31/12/16,7,19,1,0,H,1,0,H,A Taylor,...,66.05,19,-25.55,9,19,83.50,20,41,18,-42.50
354,29/04/17,13,19,0,0,D,0,0,D,L Probert,...,3.8,14,-34.75,9,19,83.50,20,41,18,-42.50
355,26/12/16,15,19,1,4,A,0,1,A,A Marriner,...,48.6,18,-9.60,9,19,83.50,20,41,18,-42.50
356,19/11/16,16,19,3,2,H,0,1,A,M Dean,...,52.3,9,-31.30,9,19,83.50,20,41,18,-42.50
357,25/02/17,17,19,1,1,D,1,0,H,C Pawson,...,58.1,35,-11.85,9,19,83.50,20,41,18,-42.50
358,17/09/16,18,19,4,2,H,3,0,H,M Clattenburg,...,26.98,13,-10.93,9,19,83.50,20,41,18,-42.50
359,15/04/17,14,19,2,2,D,1,1,D,A Marriner,...,23.77,23,-18.13,9,19,83.50,20,41,18,-42.50
360,11/12/16,8,19,2,2,D,1,2,A,M Clattenburg,...,85.38,19,5.48,9,19,83.50,20,41,18,-42.50
361,29/04/17,4,2,0,2,A,0,1,A,R Madley,...,50.2,25,-51.10,15,2,45.60,27,1.2,26,-44.40
362,15/04/17,5,2,3,1,H,0,0,D,M Clattenburg,...,60.8,20,-25.10,15,2,45.60,27,1.2,26,-44.40
363,25/02/17,6,2,1,1,D,0,0,D,M Atkinson,...,28.9,20,-11.10,15,2,45.60,27,1.2,26,-44.40
364,02/01/17,9,2,2,1,H,0,0,D,L Mason,...,35.35,23,-178.15,15,2,45.60,27,1.2,26,-44.40
365,08/04/17,11,2,0,0,D,0,0,D,M Atkinson,...,13.5,21,-34.45,15,2,45.60,27,1.2,26,-44.40
366,16/10/16,12,2,3,1,H,0,0,D,M Dean,...,85.05,10,16.15,15,2,45.60,27,1.2,26,-44.40
367,22/01/17,0,2,2,1,H,0,0,D,J Moss,...,10.35,12,-102.69,15,2,45.60,27,1.2,26,-44.40
368,13/05/17,1,2,2,1,H,1,0,H,L Probert,...,25.49,26,-15.20,15,2,45.60,27,1.2,26,-44.40
369,27/08/16,3,2,3,0,H,2,0,H,M Clattenburg,...,108.4,30,-24.40,15,2,45.60,27,1.2,26,-44.40
370,29/10/16,10,2,0,0,D,0,0,D,M Clattenburg,...,47.15,14,-137.85,15,2,45.60,27,1.2,26,-44.40
371,17/09/16,7,2,3,0,H,1,0,H,A Taylor,...,66.05,19,-25.55,15,2,45.60,27,1.2,26,-44.40
372,03/12/16,13,2,2,0,H,2,0,H,M Clattenburg,...,3.8,14,-34.75,15,2,45.60,27,1.2,26,-44.40
373,04/03/17,15,2,3,2,H,1,1,D,A Taylor,...,48.6,18,-9.60,15,2,45.60,27,1.2,26,-44.40
374,18/12/16,16,2,2,1,H,1,1,D,K Friend,...,52.3,9,-31.30,15,2,45.60,27,1.2,26,-44.40
375,04/02/17,17,2,2,1,H,2,0,H,M Oliver,...,58.1,35,-11.85,15,2,45.60,27,1.2,26,-44.40
376,21/11/16,18,2,4,0,H,3,0,H,M Jones,...,26.98,13,-10.93,15,2,45.60,27,1.2,26,-44.40
377,18/03/17,14,2,0,0,D,0,0,D,R Madley,...,23.77,23,-18.13,15,2,45.60,27,1.2,26,-44.40
378,14/12/16,19,2,1,0,H,1,0,H,R Madley,...,41,18,-42.50,15,2,45.60,27,1.2,26,-44.40
379,12/03/17,8,2,2,1,H,1,1,D,C Pawson,...,85.38,19,5.48,15,2,45.60,27,1.2,26,-44.40

In [85]:
all_tr['Date'] = pd.to_datetime(all_tr['Date'], format='%d/%m/%y').dt.strftime('%Y-%m-%d')

In [86]:
all_tr.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', '#1', 'Clubes1', 'HDespesas', 'HEntradas',
       'HReceitas', 'HSaidas', 'HSaldo', '#2', 'Clubes2', 'ADespesas',
       'AEntradas', 'AReceitas', 'ASaidas', 'ASaldo'],
      dtype='object')

In [87]:
all_noRef = all_tr.drop('Referee',axis = 1)

In [88]:
all_noRef.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY',
       'HR', 'AR', '#1', 'Clubes1', 'HDespesas', 'HEntradas', 'HReceitas',
       'HSaidas', 'HSaldo', '#2', 'Clubes2', 'ADespesas', 'AEntradas',
       'AReceitas', 'ASaidas', 'ASaldo'],
      dtype='object')

In [89]:
all_noRef = all_noRef.reindex_axis(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'HTHG', 'HTAG',
       'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY',
       'HR', 'AR', '#1', 'Clubes1', 'HDespesas', 'HEntradas', 'HReceitas',
       'HSaidas', 'HSaldo', '#2', 'Clubes2', 'ADespesas', 'AEntradas',
       'AReceitas', 'ASaidas', 'ASaldo','FTR'],axis=1)

c:\users\luarkian\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  """

In [90]:
all_noRef

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,HS,AS,...,HSaidas,HSaldo,#2,Clubes2,ADespesas,AEntradas,AReceitas,ASaidas,ASaldo,FTR
0,2009-08-15,1,18,0,2,0,1,A,11,14,...,19,-24.80,13,18,18.44,21,26.08,20,7.65,A
1,2010-01-27,3,18,2,1,1,0,H,13,13,...,35,23.37,13,18,18.44,21,26.08,20,7.65,H
2,2010-03-13,4,18,4,0,1,0,H,8,13,...,17,-10.00,13,18,18.44,21,26.08,20,7.65,H
3,2010-05-09,6,18,8,0,2,0,H,17,4,...,18,-26.20,13,18,18.44,21,26.08,20,7.65,H
4,2009-08-30,7,18,2,1,0,0,D,26,12,...,17,5.04,13,18,18.44,21,26.08,20,7.65,H
5,2009-10-31,13,18,4,0,2,0,H,21,8,...,40,41.49,13,18,18.44,21,26.08,20,7.65,H
6,2009-12-12,14,18,2,2,1,1,D,14,11,...,25,-19.55,13,18,18.44,21,26.08,20,7.65,D
7,2010-01-16,19,18,0,2,0,0,D,9,20,...,29,-18.58,13,18,18.44,21,26.08,20,7.65,A
8,2009-12-30,12,18,5,0,3,0,H,23,11,...,21,77.07,13,18,18.44,21,26.08,20,7.65,H
9,2009-11-22,16,18,9,1,1,0,H,28,11,...,37,-8.60,13,18,18.44,21,26.08,20,7.65,H
10,2010-02-06,15,18,1,1,0,1,A,11,14,...,30,-24.83,13,18,18.44,21,26.08,20,7.65,D
11,2010-02-27,2,18,1,0,1,0,H,10,11,...,29,-19.65,13,18,18.44,21,26.08,20,7.65,H
12,2009-10-24,5,18,1,3,1,1,D,12,13,...,20,-13.45,13,18,18.44,21,26.08,20,7.65,A
13,2009-10-03,9,18,2,1,0,0,D,11,13,...,27,1.35,13,18,18.44,21,26.08,20,7.65,H
14,2009-12-16,10,18,2,1,1,0,H,12,8,...,26,5.05,13,18,18.44,21,26.08,20,7.65,H
15,2009-09-19,0,18,4,0,1,0,H,23,8,...,16,35.70,13,18,18.44,21,26.08,20,7.65,H
16,2010-03-29,11,18,3,0,0,0,D,10,9,...,30,-116.35,13,18,18.44,21,26.08,20,7.65,H
17,2010-04-04,8,18,2,1,0,1,A,7,12,...,26,-7.11,13,18,18.44,21,26.08,20,7.65,H
18,2010-04-24,17,18,3,2,2,1,H,9,12,...,26,19.65,13,18,18.44,21,26.08,20,7.65,H
19,2009-08-30,1,8,2,0,1,0,H,9,6,...,19,-24.80,20,8,7.11,27,0,26,-7.11,H
20,2010-01-17,3,8,2,0,1,0,H,11,14,...,35,23.37,20,8,7.11,27,0,26,-7.11,H
21,2010-02-06,4,8,0,0,0,0,D,16,7,...,17,-10.00,20,8,7.11,27,0,26,-7.11,D
22,2009-12-28,6,8,2,1,0,1,A,18,3,...,18,-26.20,20,8,7.11,27,0,26,-7.11,H
23,2010-04-25,7,8,2,1,0,1,A,15,8,...,17,5.04,20,8,7.11,27,0,26,-7.11,H
24,2009-08-15,13,8,0,1,0,1,A,16,9,...,40,41.49,20,8,7.11,27,0,26,-7.11,A
25,2010-01-05,14,8,3,2,3,0,H,11,14,...,25,-19.55,20,8,7.11,27,0,26,-7.11,H
26,2009-09-20,19,8,2,1,1,0,H,12,3,...,29,-18.58,20,8,7.11,27,0,26,-7.11,H
27,2010-03-14,12,8,3,0,0,0,D,33,8,...,21,77.07,20,8,7.11,27,0,26,-7.11,H
28,2010-01-26,16,8,2,0,1,0,H,13,9,...,37,-8.60,20,8,7.11,27,0,26,-7.11,H
29,2010-02-28,15,8,0,0,0,0,D,12,3,...,30,-24.83,20,8,7.11,27,0,26,-7.11,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,2017-03-11,1,19,3,2,1,1,D,21,15,...,26,-15.20,9,19,83.50,20,41,18,-42.50,H
351,2016-08-15,3,19,2,1,0,0,D,16,7,...,30,-24.40,9,19,83.50,20,41,18,-42.50,H
352,2016-11-27,10,19,1,1,1,1,D,17,6,...,14,-137.85,9,19,83.50,20,41,18,-42.50,D
353,2016-12-31,7,19,1,0,1,0,H,12,25,...,19,-25.55,9,19,83.50,20,41,18,-42.50,H
354,2017-04-29,13,19,0,0,0,0,D,19,12,...,14,-34.75,9,19,83.50,20,41,18,-42.50,D
355,2016-12-26,15,19,1,4,0,1,A,14,14,...,18,-9.60,9,19,83.50,20,41,18,-42.50,A
356,2016-11-19,16,19,3,2,0,1,A,14,11,...,9,-31.30,9,19,83.50,20,41,18,-42.50,H
357,2017-02-25,17,19,1,1,1,0,H,9,13,...,35,-11.85,9,19,83.50,20,41,18,-42.50,D
358,2016-09-17,18,19,4,2,3,0,H,8,23,...,13,-10.93,9,19,83.50,20,41,18,-42.50,H
359,2017-04-15,14,19,2,2,1,1,D,14,7,...,23,-18.13,9,19,83.50,20,41,18,-42.50,D
360,2016-12-11,8,19,2,2,1,2,A,18,7,...,19,5.48,9,19,83.50,20,41,18,-42.50,D
361,2017-04-29,4,2,0,2,0,1,A,15,9,...,25,-51.10,15,2,45.60,27,1.2,26,-44.40,A
362,2017-04-15,5,2,3,1,0,0,D,29,13,...,20,-25.10,15,2,45.60,27,1.2,26,-44.40,H
363,2017-02-25,6,2,1,1,0,0,D,15,10,...,20,-11.10,15,2,45.60,27,1.2,26,-44.40,D
364,2017-01-02,9,2,2,1,0,0,D,14,11,...,23,-178.15,15,2,45.60,27,1.2,26,-44.40,H
365,2017-04-08,11,2,0,0,0,0,D,12,7,...,21,-34.45,15,2,45.60,27,1.2,26,-44.40,D
366,2016-10-16,12,2,3,1,0,0,D,34,6,...,10,16.15,15,2,45.60,27,1.2,26,-44.40,H
367,2017-01-22,0,2,2,1,0,0,D,24,13,...,12,-102.69,15,2,45.60,27,1.2,26,-44.40,H
368,2017-05-13,1,2,2,1,1,0,H,18,14,...,26,-15.20,15,2,45.60,27,1.2,26,-44.40,H
369,2016-08-27,3,2,3,0,2,0,H,22,6,...,30,-24.40,15,2,45.60,27,1.2,26,-44.40,H
370,2016-10-29,10,2,0,0,0,0,D,37,7,...,14,-137.85,15,2,45.60,27,1.2,26,-44.40,D
371,2016-09-17,7,2,3,0,1,0,H,14,7,...,19,-25.55,15,2,45.60,27,1.2,26,-44.40,H
372,2016-12-03,13,2,2,0,2,0,H,10,14,...,14,-34.75,15,2,45.60,27,1.2,26,-44.40,H
373,2017-03-04,15,2,3,2,1,1,D,23,6,...,18,-9.60,15,2,45.60,27,1.2,26,-44.40,H
374,2016-12-18,16,2,2,1,1,1,D,30,5,...,9,-31.30,15,2,45.60,27,1.2,26,-44.40,H
375,2017-02-04,17,2,2,1,2,0,H,16,11,...,35,-11.85,15,2,45.60,27,1.2,26,-44.40,H
376,2016-11-21,18,2,4,0,3,0,H,16,5,...,13,-10.93,15,2,45.60,27,1.2,26,-44.40,H
377,2017-03-18,14,2,0,0,0,0,D,14,17,...,23,-18.13,15,2,45.60,27,1.2,26,-44.40,D
378,2016-12-14,19,2,1,0,1,0,H,20,8,...,18,-42.50,15,2,45.60,27,1.2,26,-44.40,H
379,2017-03-12,8,2,2,1,1,1,D,10,11,...,19,5.48,15,2,45.60,27,1.2,26,-44.40,H

In [235]:
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [253]:
X = all_noRef.iloc[:,[1,19]]
y = all_noRef.iloc[:,34]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20)

In [254]:
log_clf = LogisticRegression(solver="liblinear", random_state=42)
rnd_clf = RandomForestClassifier(n_estimators=10, random_state=42)
voting_clf = VotingClassifier(estimators=[('lr', log_clf), ('rf', rnd_clf),('svc', svm_clf)], voting='hard')
svm_clf = SVC(gamma="auto", random_state=42)

In [255]:
voting_clf.fit(X_train, y_train)

c:\users\luarkian\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

VotingClassifier(estimators=[('lr', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=42, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)), ('rf', Rando...f',
  max_iter=-1, probability=False, random_state=42, shrinking=True,
  tol=0.001, verbose=False))],
         flatten_transform=None, n_jobs=None, voting='hard', weights=None)

In [256]:
from sklearn.metrics import accuracy_score

for clf in (log_clf, rnd_clf,svm_clf, voting_clf):
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print(clf.__class__.__name__, accuracy_score(y_test, y_pred))

c:\users\luarkian\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression 0.4697368421052632
RandomForestClassifier 0.45
SVC 0.45921052631578946

c:\users\luarkian\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

VotingClassifier 0.45921052631578946