In [5]:
import pandas as pd
import numpy as np

c:\users\luarkian\appdata\local\programs\python\python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
c:\users\luarkian\appdata\local\programs\python\python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [38]:
t_0910 = pd.read_csv('season-0910.csv',  header = [0])
t_0910.head()
#t_1011 = pd.read_csv('season-1011.csv')
#t_1112 = pd.read_csv('season-1112.csv')
#t_1213 = pd.read_csv('season-1213.csv')
#t_1314 = pd.read_csv('season-1314.csv')
#t_1415 = pd.read_csv('season-1415.csv')
#t_1516 = pd.read_csv('season-1516.csv')
#t_1617 = pd.read_csv('season-1617.csv')
#t_1718 = pd.read_csv('season-1718.csv')
#t_1819 = pd.read_csv('season-1819.csv')

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,15/08/09,Aston Villa,Wigan,0,2,A,0,1,A,M Clattenburg,...,5,7,15,14,4,6,2,2,0,0
1,15/08/09,Blackburn,Man City,0,2,A,0,1,A,M Dean,...,9,5,12,9,5,4,2,1,0,0
2,15/08/09,Bolton,Sunderland,0,1,A,0,1,A,A Marriner,...,3,13,16,10,4,7,2,1,0,0
3,15/08/09,Chelsea,Hull,2,1,H,1,1,D,A Wiley,...,12,3,13,15,12,4,1,2,0,0
4,15/08/09,Everton,Arsenal,1,6,A,0,3,A,M Halsey,...,5,9,11,13,4,9,0,0,0,0

In [15]:
#all_t = pd.concat([t_0910,t_1011,t_1112,t_1213,t_1314,t_1415,t_1516,t_1617])

In [39]:
#Y = all_t['FTR']
#x = all_t[['Date','HomeTeam', 'AwayTeam', 'FTHG' , 'FTAG', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR','AR']]
Y = t_0910['FTR'] # Target
x = t_0910[['Date','HomeTeam', 'AwayTeam', 'FTHG' , 'FTAG', 'HS', 
            'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR','AR']] # Features

In [49]:
# Separação dos 35% dados para teste 

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x , Y, test_size = 0.35 , random_state =4)

In [50]:
print(x_train.shape)
print(x_test.shape)

(247, 17)
(133, 17)

In [51]:
print(y_train.shape)
print(y_test.shape)

(247,)
(133,)