In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
t_0910 = pd.read_csv('season-0910.csv',  header = [0])
t_1011 = pd.read_csv('season-1011.csv')
t_1112 = pd.read_csv('season-1112.csv')
t_1213 = pd.read_csv('season-1213.csv')
t_1314 = pd.read_csv('season-1314.csv')
t_1415 = pd.read_csv('season-1415.csv')
t_1516 = pd.read_csv('season-1516.csv')
t_1617 = pd.read_csv('season-1617.csv')
t_1718 = pd.read_csv('season-1718.csv')
t_1819 = pd.read_csv('season-1819.csv')

In [3]:
all_t = pd.concat([t_0910,t_1011,t_1112,t_1213,t_1314,t_1415,t_1516,t_1617])

In [4]:
times = pd.Series(["Man City","Liverpool","Chelsea","Tottenham" ,"Man United","Arsenal","Everton","Leicester","West Ham","Crystal Palace","Bournemouth","Fulham","Wolves","Southampton","Newcastle","Watford","Brighton","Burnley","Cardiff","Norwich","QPR","Huddersfield","Wigan","Birmingham","Blackburn","Reading","Bolton","Portsmouth","Blackpool","Aston Villa","Hull","West Brom","Stoke","Swansea","Sunderland","Middlesbrough"])
times

0           Man City
1          Liverpool
2            Chelsea
3          Tottenham
4         Man United
5            Arsenal
6            Everton
7          Leicester
8           West Ham
9     Crystal Palace
10       Bournemouth
11            Fulham
12            Wolves
13       Southampton
14         Newcastle
15           Watford
16          Brighton
17           Burnley
18           Cardiff
19           Norwich
20               QPR
21      Huddersfield
22             Wigan
23        Birmingham
24         Blackburn
25           Reading
26            Bolton
27        Portsmouth
28         Blackpool
29       Aston Villa
30              Hull
31         West Brom
32             Stoke
33           Swansea
34        Sunderland
35     Middlesbrough
dtype: object

In [5]:
r_0910 = pd.read_csv('r_0910.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1011 = pd.read_csv('r_1011.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1112 = pd.read_csv('r_1112.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1213 = pd.read_csv('r_1213.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1314 = pd.read_csv('r_1314.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1415 = pd.read_csv('r_1415.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1516 = pd.read_csv('r_1516.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1617 = pd.read_csv('r_1617.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1718 = pd.read_csv('r_1718.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.
r_1819 = pd.read_csv('r_1819.csv',encoding = 'unicode_escape') #string tem um caracter não ascii codificado nela.

In [6]:
#df2 = pd.read_csv('season-1011.csv', sep=',') 
le2 = preprocessing.LabelEncoder()

t_0910['HomeTeam'] = le2.fit_transform(t_0910.HomeTeam.values)
t_0910['AwayTeam'] = le2.fit_transform(t_0910.AwayTeam.values)
r_0910['Clubes'] = le2.fit_transform(r_0910.Clubes.values)

#le2 = preprocessing.LabelEncoder()
t_1011['HomeTeam'] = le2.fit_transform(t_1011.HomeTeam.values)
t_1011['AwayTeam'] = le2.fit_transform(t_1011.AwayTeam.values)
r_1011['Clubes'] = le2.fit_transform(r_1011.Clubes.values)


t_1112['HomeTeam'] = le2.fit_transform(t_1112.HomeTeam.values)
t_1112['AwayTeam'] = le2.fit_transform(t_1112.AwayTeam.values)
r_1112['Clubes'] = le2.fit_transform(r_1112.Clubes.values)


t_1213['HomeTeam'] = le2.fit_transform(t_1213.HomeTeam.values)
t_1213['AwayTeam'] = le2.fit_transform(t_1213.AwayTeam.values)
r_1213['Clubes'] = le2.fit_transform(r_1213.Clubes.values)


t_1314['HomeTeam'] = le2.fit_transform(t_1314.HomeTeam.values)
t_1314['AwayTeam'] = le2.fit_transform(t_1314.AwayTeam.values)
r_1314['Clubes'] = le2.fit_transform(r_1314.Clubes.values)


t_1415['HomeTeam'] = le2.fit_transform(t_1415.HomeTeam.values)
t_1415['AwayTeam'] = le2.fit_transform(t_1415.AwayTeam.values)
r_1415['Clubes'] = le2.fit_transform(r_1415.Clubes.values)


t_1516['HomeTeam'] = le2.fit_transform(t_1516.HomeTeam.values)
t_1516['AwayTeam'] = le2.fit_transform(t_1516.AwayTeam.values)
r_1516['Clubes'] = le2.fit_transform(r_1516.Clubes.values)


t_1617['HomeTeam'] = le2.fit_transform(t_1617.HomeTeam.values)
t_1617['AwayTeam'] = le2.fit_transform(t_1617.AwayTeam.values)
r_1617['Clubes'] = le2.fit_transform(r_1617.Clubes.values)


t_1718['HomeTeam'] = le2.fit_transform(t_1718.HomeTeam.values)
t_1718['AwayTeam'] = le2.fit_transform(t_1718.AwayTeam.values)
r_1718['Clubes'] = le2.fit_transform(r_1718.Clubes.values)


t_1819['HomeTeam'] = le2.fit_transform(t_1819.HomeTeam.values)
t_1819['AwayTeam'] = le2.fit_transform(t_1819.AwayTeam.values)
r_1819['Clubes'] = le2.fit_transform(r_1819.Clubes.values)

In [40]:
t_0910.merge(r_0910, left_on='HomeTeam', right_on='Clubes', suffixes=(False, False))

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AY,HR,AR,#,Clubes,Despesas,Entradas,Receitas,Sai­das,Saldo
0,15/08/09,1,18,0,2,A,0,1,A,M Clattenburg,...,2,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
1,30/08/09,1,8,2,0,H,1,0,H,S Bennett,...,2,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
2,19/09/09,1,13,2,0,H,2,0,H,S Attwell,...,0,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
3,05/10/09,1,11,1,1,D,1,0,H,M Dean,...,2,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
4,17/10/09,1,6,2,1,H,1,1,D,K Friend,...,1,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
5,07/11/09,1,4,5,1,H,2,1,H,M Clattenburg,...,4,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
6,28/11/09,1,16,1,1,D,1,0,H,P Dowd,...,1,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
7,05/12/09,1,9,3,0,H,2,0,H,S Attwell,...,3,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
8,19/12/09,1,14,1,0,H,0,0,D,L Probert,...,1,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
9,29/12/09,1,10,0,1,A,0,0,D,L Probert,...,1,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
10,17/01/10,1,17,0,0,D,0,0,D,M Jones,...,3,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
11,27/01/10,1,0,0,0,D,0,0,D,L Probert,...,2,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
12,10/02/10,1,12,1,1,D,1,1,D,P Walton,...,1,0,1,2,1,"46,9",26,"22,1",19,"-24,8"
13,21/02/10,1,5,5,2,H,1,1,D,S Attwell,...,3,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
14,20/03/10,1,19,2,2,D,1,2,A,M Clattenburg,...,2,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
15,24/03/10,1,15,1,1,D,1,1,D,M Dean,...,0,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
16,14/04/10,1,7,2,2,D,0,1,A,M Atkinson,...,2,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
17,25/04/10,1,2,1,0,H,0,0,D,M Atkinson,...,4,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
18,09/05/10,1,3,0,1,A,0,0,D,S Bennett,...,1,0,0,2,1,"46,9",26,"22,1",19,"-24,8"
19,15/08/09,3,11,0,2,A,0,1,A,M Dean,...,1,0,0,16,3,"13,28",39,"36,65",35,"23,37"
20,29/08/09,3,17,0,0,D,0,0,D,P Dowd,...,3,0,0,16,3,"13,28",39,"36,65",35,"23,37"
21,12/09/09,3,19,3,1,H,1,0,H,S Bennett,...,2,0,0,16,3,"13,28",39,"36,65",35,"23,37"
22,26/09/09,3,1,2,1,H,1,1,D,M Clattenburg,...,3,1,0,16,3,"13,28",39,"36,65",35,"23,37"
23,18/10/09,3,5,3,2,H,3,1,H,C Foy,...,3,0,0,16,3,"13,28",39,"36,65",35,"23,37"
24,07/11/09,3,13,3,1,H,0,1,A,A Marriner,...,3,0,0,16,3,"13,28",39,"36,65",35,"23,37"
25,28/11/09,3,14,0,0,D,0,0,D,H Webb,...,2,0,0,16,3,"13,28",39,"36,65",35,"23,37"
26,05/12/09,3,10,0,0,D,0,0,D,M Atkinson,...,0,0,0,16,3,"13,28",39,"36,65",35,"23,37"
27,19/12/09,3,16,0,2,A,0,1,A,P Walton,...,1,0,0,16,3,"13,28",39,"36,65",35,"23,37"
28,28/12/09,3,15,2,2,D,0,0,D,M Dean,...,4,0,0,16,3,"13,28",39,"36,65",35,"23,37"
29,17/01/10,3,8,2,0,H,1,0,H,K Friend,...,3,0,0,16,3,"13,28",39,"36,65",35,"23,37"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,19/12/09,8,12,3,0,H,1,0,H,H Webb,...,1,0,0,20,8,"7,11",27,-,26,"-7,11"
351,26/12/09,8,16,0,0,D,0,0,D,S Bennett,...,0,0,0,20,8,"7,11",27,-,26,"-7,11"
352,30/01/10,8,1,0,2,A,0,2,A,L Mason,...,2,0,0,20,8,"7,11",27,-,26,"-7,11"
353,03/02/10,8,13,1,0,H,0,0,D,A Taylor,...,1,0,0,20,8,"7,11",27,-,26,"-7,11"
354,09/02/10,8,5,3,0,H,2,0,H,C Foy,...,0,0,0,20,8,"7,11",27,-,26,"-7,11"
355,21/02/10,8,2,2,1,H,0,1,A,P Dowd,...,1,0,0,20,8,"7,11",27,-,26,"-7,11"
356,21/03/10,8,11,1,2,A,0,2,A,L Probert,...,0,0,0,20,8,"7,11",27,-,26,"-7,11"
357,04/04/10,8,18,2,1,H,0,1,A,M Clattenburg,...,2,0,0,20,8,"7,11",27,-,26,"-7,11"
358,17/04/10,8,19,0,0,D,0,0,D,M Dean,...,0,0,0,20,8,"7,11",27,-,26,"-7,11"
359,02/05/10,8,17,3,2,H,1,0,H,A Marriner,...,0,0,0,20,8,"7,11",27,-,26,"-7,11"
360,05/05/10,8,14,0,1,A,0,0,D,P Walton,...,3,0,0,20,8,"7,11",27,-,26,"-7,11"
361,23/08/09,17,16,1,2,A,0,0,D,M Clattenburg,...,1,0,0,10,17,"21,65",24,"41,3",26,"19,65"
362,19/09/09,17,10,2,3,A,2,2,D,A Marriner,...,3,0,0,10,17,"21,65",24,"41,3",26,"19,65"
363,04/10/09,17,8,2,2,D,1,0,H,P Dowd,...,2,0,1,10,17,"21,65",24,"41,3",26,"19,65"
364,25/10/09,17,0,2,2,D,0,2,A,C Foy,...,2,1,0,10,17,"21,65",24,"41,3",26,"19,65"
365,04/11/09,17,1,2,1,H,1,0,H,S Bennett,...,4,0,1,10,17,"21,65",24,"41,3",26,"19,65"
366,08/11/09,17,7,1,2,A,0,1,A,A Wiley,...,5,0,0,10,17,"21,65",24,"41,3",26,"19,65"
367,28/11/09,17,5,5,3,H,3,0,H,C Foy,...,1,0,1,10,17,"21,65",24,"41,3",26,"19,65"
368,05/12/09,17,12,0,4,A,0,1,A,P Walton,...,1,0,0,10,17,"21,65",24,"41,3",26,"19,65"
369,20/12/09,17,6,1,1,D,1,0,H,M Dean,...,3,0,0,10,17,"21,65",24,"41,3",26,"19,65"
370,26/12/09,17,13,2,0,H,1,0,H,L Probert,...,3,0,0,10,17,"21,65",24,"41,3",26,"19,65"
371,30/01/10,17,3,0,0,D,0,0,D,P Walton,...,1,0,0,10,17,"21,65",24,"41,3",26,"19,65"
372,10/02/10,17,2,2,0,H,1,0,H,M Dean,...,2,0,0,10,17,"21,65",24,"41,3",26,"19,65"
373,20/02/10,17,9,3,0,H,1,0,H,M Atkinson,...,1,0,1,10,17,"21,65",24,"41,3",26,"19,65"
374,06/03/10,17,4,1,2,A,0,2,A,L Probert,...,5,0,1,10,17,"21,65",24,"41,3",26,"19,65"
375,23/03/10,17,19,1,3,A,0,1,A,P Dowd,...,2,0,0,10,17,"21,65",24,"41,3",26,"19,65"
376,27/03/10,17,14,0,1,A,0,0,D,A Marriner,...,2,0,0,10,17,"21,65",24,"41,3",26,"19,65"
377,10/04/10,17,15,1,0,H,0,0,D,M Jones,...,3,0,0,10,17,"21,65",24,"41,3",26,"19,65"
378,24/04/10,17,18,3,2,H,2,1,H,A Wiley,...,2,0,0,10,17,"21,65",24,"41,3",26,"19,65"
379,09/05/10,17,11,1,1,D,1,1,D,H Webb,...,0,0,0,10,17,"21,65",24,"41,3",26,"19,65"